<div id="banner">
	<style>
 

.path3 {
  stroke-dasharray: 50;
  animation: dash 10s linear;
  animation-iteration-count:infinite;
}
 

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 200;
  }
}
</style>


<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="728px" height="90px"
	 viewBox="0 0 728 90" enable-background="new 0 0 728 90" xml:space="preserve">
<g id="Layer_2">
	
		<radialGradient id="SVGID_1_" cx="-624.8452" cy="1492.2318" r="1379.1664" gradientTransform="matrix(0 3.845295e-02 -0.4432 0 1025.4083 69.0271)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#1D2255"/>
		<stop  offset="0.4169" style="stop-color:#1D2457"/>
		<stop  offset="0.5784" style="stop-color:#1C2A5E"/>
		<stop  offset="0.6957" style="stop-color:#1B346A"/>
		<stop  offset="0.7916" style="stop-color:#19437B"/>
		<stop  offset="0.8743" style="stop-color:#165692"/>
		<stop  offset="0.9467" style="stop-color:#136DAD"/>
		<stop  offset="0.9957" style="stop-color:#1081C4"/>
	</radialGradient>
	<rect fill="url(#SVGID_1_)" width="728" height="90"/>
</g>
<g id="Layer_1">
	
		<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-223.5614" y1="1070.0133" x2="-246.172" y2="1047.4027" gradientTransform="matrix(0.713 0.7012 -0.7012 0.713 1072.8199 -577.4391)">
		<stop  offset="0" style="stop-color:#016EAF"/>
		<stop  offset="0.234" style="stop-color:#05609E"/>
		<stop  offset="0.6975" style="stop-color:#103D71"/>
		<stop  offset="1" style="stop-color:#182450"/>
	</linearGradient>
	<polyline class="path3" fill="none" stroke="url(#SVGID_2_)" stroke-width="0.75" stroke-miterlimit="10" points="181.8,-3.2 162.7,16.9 
		146.6,17 146.6,19.2 160.8,19.2 160.8,28.3 143.9,28.5 	"/>
	
		<radialGradient id="SVGID_3_" cx="145.9158" cy="-2882.144" r="4.8771" gradientTransform="matrix(1.0344 0 0 0.7774 -14.3801 1908.4127)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#1081C4"/>
		<stop  offset="0.2514" style="stop-color:#117DC0"/>
		<stop  offset="0.4917" style="stop-color:#1572B6"/>
		<stop  offset="0.7275" style="stop-color:#1B5EA4"/>
		<stop  offset="0.9593" style="stop-color:#23448B"/>
		<stop  offset="1" style="stop-color:#253E86"/>
	</radialGradient>
	
		<line class="path3" fill="none" stroke="url(#SVGID_3_)" stroke-width="0.75" stroke-miterlimit="10" x1="136.6" y1="36.8" x2="136.6" y2="45.7"/>
	<g>
		<g>
			
				<radialGradient id="SVGID_4_" cx="2874.4673" cy="1291.3807" r="25.7475" gradientTransform="matrix(-0.7315 -0.7657 0.8777 -0.9188 1330.1002 3249.9902)" gradientUnits="userSpaceOnUse">
				<stop  offset="0" style="stop-color:#1081C4"/>
				<stop  offset="0.2514" style="stop-color:#117DC0"/>
				<stop  offset="0.4917" style="stop-color:#1572B6"/>
				<stop  offset="0.7275" style="stop-color:#1B5EA4"/>
				<stop  offset="0.9593" style="stop-color:#23448B"/>
				<stop  offset="1" style="stop-color:#253E86"/>
			</radialGradient>
			<polyline class="path3" fill="none" stroke="url(#SVGID_4_)" stroke-width="0.75" stroke-miterlimit="10" points="136.7,47.5 144.6,55.2 
				190.7,55.6 190.7,90.2 			"/>
		</g>
	</g>
	<g>
		
			<radialGradient id="SVGID_5_" cx="2900.6997" cy="1295.005" r="12.7054" gradientTransform="matrix(-0.7315 -0.7657 0.8777 -0.9188 1330.1002 3249.9902)" gradientUnits="userSpaceOnUse">
			<stop  offset="0" style="stop-color:#1081C4"/>
			<stop  offset="0.2514" style="stop-color:#117DC0"/>
			<stop  offset="0.4917" style="stop-color:#1572B6"/>
			<stop  offset="0.7275" style="stop-color:#1B5EA4"/>
			<stop  offset="0.9593" style="stop-color:#23448B"/>
			<stop  offset="1" style="stop-color:#253E86"/>
		</radialGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_5_)" stroke-width="0.75" stroke-miterlimit="10" points="137.5,35.8 166.5,35.8 
			173.8,39.1 		"/>
		
			<radialGradient id="SVGID_6_" cx="2904.7417" cy="1301.6333" r="11.5839" gradientTransform="matrix(-0.7315 -0.7657 0.8777 -0.9188 1330.1002 3249.9902)" gradientUnits="userSpaceOnUse">
			<stop  offset="0" style="stop-color:#1081C4"/>
			<stop  offset="0.2514" style="stop-color:#117DC0"/>
			<stop  offset="0.4917" style="stop-color:#1572B6"/>
			<stop  offset="0.7275" style="stop-color:#1B5EA4"/>
			<stop  offset="0.9593" style="stop-color:#23448B"/>
			<stop  offset="1" style="stop-color:#253E86"/>
		</radialGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_6_)" stroke-width="0.75" stroke-miterlimit="10" points="143.1,29.6 143.1,33.4 
			167,33.4 167.2,19.6 		"/>
	</g>
	
		<radialGradient id="SVGID_7_" cx="2887.8521" cy="1307.1854" r="26.0809" gradientTransform="matrix(-0.7315 -0.7657 0.8777 -0.9188 1330.1002 3249.9902)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#1081C4"/>
		<stop  offset="0.2514" style="stop-color:#117DC0"/>
		<stop  offset="0.4917" style="stop-color:#1572B6"/>
		<stop  offset="0.7275" style="stop-color:#1B5EA4"/>
		<stop  offset="0.9593" style="stop-color:#23448B"/>
		<stop  offset="1" style="stop-color:#253E86"/>
	</radialGradient>
	<polyline class="path3" fill="none" stroke="url(#SVGID_7_)" stroke-width="0.75" stroke-miterlimit="10" points="137,46.4 142.2,46.4 
		142.2,41.8 146.7,41.8 146.8,44.6 166.1,44.6 166.1,49.5 191.2,49.5 191.2,34.8 187.8,34.8 182,34.8 182,14.9 185.4,14.9 
		185.4,32.2 188.7,32.2 188.7,6.2 	"/>
	<ellipse class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" cx="136.6" cy="46.7" rx="0.9" ry="0.9"/>
	<g>
		<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="83.9448" y1="98.2853" x2="103.4888" y2="78.7412">
			<stop  offset="0" style="stop-color:#1E3B6F"/>
			<stop  offset="5.281931e-02" style="stop-color:#1B4C83"/>
			<stop  offset="0.1431" style="stop-color:#16639F"/>
			<stop  offset="0.2336" style="stop-color:#1374B4"/>
			<stop  offset="0.3235" style="stop-color:#117EC0"/>
			<stop  offset="0.4121" style="stop-color:#1081C4"/>
			<stop  offset="0.5093" style="stop-color:#107DBF"/>
			<stop  offset="0.6191" style="stop-color:#1172B2"/>
			<stop  offset="0.7351" style="stop-color:#125F9B"/>
			<stop  offset="0.8555" style="stop-color:#14447B"/>
			<stop  offset="0.978" style="stop-color:#172353"/>
			<stop  offset="1" style="stop-color:#171C4B"/>
		</linearGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_8_)" stroke-width="0.75" stroke-miterlimit="10" points="97.9,73.6 83.4,73.6 81.1,76 
			81.1,89.6 95.7,89.6 102.4,97.2 102.4,104.9 100.8,104.9 100.8,98.7 97.3,98.7 97.3,100.8 93.6,100.8 93.6,104.9 91.3,104.9 
			91.3,98.7 88.8,98.7 88.8,97.4 87.1,95.6 85.5,95.6 		"/>
		<linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="13.9561" y1="26.9544" x2="30.461" y2="-1.6329">
			<stop  offset="0" style="stop-color:#0378B7"/>
			<stop  offset="0.1605" style="stop-color:#0570AE"/>
			<stop  offset="0.4252" style="stop-color:#095B95"/>
			<stop  offset="0.7593" style="stop-color:#11386C"/>
			<stop  offset="1" style="stop-color:#171C4B"/>
		</linearGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_9_)" stroke-width="0.75" stroke-miterlimit="10" points="17.7,-8.8 17.7,24.3 27,34.1 
					"/>
		<linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="17.3606" y1="78.5311" x2="43.2658" y2="78.5311">
			<stop  offset="0" style="stop-color:#171C4B"/>
			<stop  offset="0.6483" style="stop-color:#08437C"/>
			<stop  offset="1" style="stop-color:#005A98"/>
		</linearGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_10_)" stroke-width="0.75" stroke-miterlimit="10" points="39.5,93.4 42.7,90 17.6,63.7 
					"/>
		<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="17.3661" y1="56.3131" x2="43.4887" y2="56.3131">
			<stop  offset="0" style="stop-color:#213164"/>
			<stop  offset="0.1932" style="stop-color:#1B4E87"/>
			<stop  offset="0.388" style="stop-color:#1664A1"/>
			<stop  offset="0.5864" style="stop-color:#1374B5"/>
			<stop  offset="0.7886" style="stop-color:#117EC0"/>
			<stop  offset="1" style="stop-color:#1081C4"/>
		</linearGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_11_)" stroke-width="0.75" stroke-miterlimit="10" points="43.5,50.3 29.3,50.3 
			17.6,62.5 		"/>
		<linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="43.4887" y1="32.6945" x2="43.4887" y2="32.6945">
			<stop  offset="0" style="stop-color:#171C4B"/>
			<stop  offset="0.1045" style="stop-color:#163164"/>
			<stop  offset="0.2769" style="stop-color:#144E86"/>
			<stop  offset="0.4525" style="stop-color:#1264A1"/>
			<stop  offset="0.63" style="stop-color:#1174B5"/>
			<stop  offset="0.8108" style="stop-color:#107EC0"/>
			<stop  offset="1" style="stop-color:#1081C4"/>
		</linearGradient>
		<path class="path3" fill="none" stroke="url(#SVGID_12_)" stroke-width="0.75" stroke-miterlimit="10" d="M43.5,32.7"/>
		<linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="104.8517" y1="25.7398" x2="121.342" y2="25.7398">
			<stop  offset="0" style="stop-color:#016EAF"/>
			<stop  offset="0.224" style="stop-color:#05609E"/>
			<stop  offset="0.6676" style="stop-color:#0F3B71"/>
			<stop  offset="1" style="stop-color:#171C4B"/>
		</linearGradient>
		
			<line class="path3" fill="none" stroke="url(#SVGID_13_)" stroke-width="0.75" stroke-miterlimit="10" x1="105.1" y1="34.1" x2="121.1" y2="17.4"/>
		<linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="89.7068" y1="50.2619" x2="101.5148" y2="50.2619">
			<stop  offset="0" style="stop-color:#1081C4"/>
			<stop  offset="0.1892" style="stop-color:#107EC0"/>
			<stop  offset="0.37" style="stop-color:#1174B5"/>
			<stop  offset="0.5475" style="stop-color:#1264A1"/>
			<stop  offset="0.7231" style="stop-color:#144E86"/>
			<stop  offset="0.8955" style="stop-color:#163164"/>
			<stop  offset="1" style="stop-color:#171C4B"/>
		</linearGradient>
		
			<line class="path3" fill="none" stroke="url(#SVGID_14_)" stroke-width="0.75" stroke-miterlimit="10" x1="101.5" y1="50.3" x2="89.7" y2="50.3"/>
		<linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="13.9191" y1="44.3529" x2="45.7909" y2="44.3529">
			<stop  offset="0" style="stop-color:#1D2858"/>
			<stop  offset="5.428886e-02" style="stop-color:#1C3264"/>
			<stop  offset="0.2364" style="stop-color:#174E86"/>
			<stop  offset="0.4217" style="stop-color:#1464A1"/>
			<stop  offset="0.6092" style="stop-color:#1274B5"/>
			<stop  offset="0.8002" style="stop-color:#107EC0"/>
			<stop  offset="1" style="stop-color:#1081C4"/>
		</linearGradient>
		<path class="path3" fill="none" stroke="url(#SVGID_15_)" stroke-width="0.75" stroke-miterlimit="10" d="M15.7,42.7l1.2,1.2l-2,2.1l1.2,1.3
			l5.9-6.1h23.9 M14.5,41.5c-0.3,0.3-0.3,0.9,0,1.2s0.8,0.3,1.2,0s0.3-0.9,0-1.2C15.4,41.2,14.9,41.2,14.5,41.5z"/>
		<linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="25.4495" y1="-12.5112" x2="47.8952" y2="-12.5112">
			<stop  offset="0" style="stop-color:#016EAF"/>
			<stop  offset="0.2523" style="stop-color:#07609E"/>
			<stop  offset="0.752" style="stop-color:#153C71"/>
			<stop  offset="1" style="stop-color:#1D2858"/>
		</linearGradient>
		<path class="path3" fill="none" stroke="url(#SVGID_16_)" stroke-width="0.75" stroke-miterlimit="10" d="M27.2-14.4L47.6,7 M33.4-30.4l-6.8,7.1
			v7.5 M34.8-31c0,0.5-0.4,0.9-0.8,0.9s-0.8-0.4-0.8-0.9s0.4-0.9,0.8-0.9S34.8-31.5,34.8-31z M26.6-15.9c0.4,0,0.8,0.4,0.8,0.9
			c0,0.5-0.4,0.9-0.8,0.9c-0.4,0-0.8-0.4-0.8-0.9C25.8-15.5,26.2-15.9,26.6-15.9z"/>
		<ellipse class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" cx="98.8" cy="73.6" rx="0.8" ry="0.9"/>
		<linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="75.3523" y1="-23.0292" x2="105.6888" y2="-23.0292">
			<stop  offset="0" style="stop-color:#171C4B"/>
			<stop  offset="0.1622" style="stop-color:#172050"/>
			<stop  offset="0.3504" style="stop-color:#162C5E"/>
			<stop  offset="0.5516" style="stop-color:#153F75"/>
			<stop  offset="0.7619" style="stop-color:#135A96"/>
			<stop  offset="0.9773" style="stop-color:#107DBF"/>
			<stop  offset="1" style="stop-color:#1081C4"/>
		</linearGradient>
		
			<line class="path3" fill="none" stroke="url(#SVGID_17_)" stroke-width="0.75" stroke-miterlimit="10" x1="105.4" y1="-7.4" x2="75.6" y2="-38.6"/>
		<linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="85.3706" y1="-29.3461" x2="112.1024" y2="-29.3461">
			<stop  offset="0" style="stop-color:#1081C4"/>
			<stop  offset="0.1948" style="stop-color:#117ABB"/>
			<stop  offset="0.5102" style="stop-color:#1467A3"/>
			<stop  offset="0.9049" style="stop-color:#19487C"/>
			<stop  offset="1" style="stop-color:#1A4072"/>
		</linearGradient>
		<polyline class="path3" fill="none" stroke="url(#SVGID_18_)" stroke-width="0.75" stroke-miterlimit="10" points="85.6,-40.3 106.3,-18.7 
			111.8,-24.5 		"/>
		<linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="130.665" y1="9.4781" x2="103.3831" y2="-17.8038">
			<stop  offset="0" style="stop-color:#016EAF"/>
			<stop  offset="0.234" style="stop-color:#05609E"/>
			<stop  offset="0.6975" style="stop-color:#103D71"/>
			<stop  offset="1" style="stop-color:#182450"/>
		</linearGradient>
		<path class="path3" fill="none" stroke="url(#SVGID_19_)" stroke-width="0.75" stroke-miterlimit="10" d="M113-24.5l2.4,2.5l-7.8,8.2l1.4,1.5
			l3.9-4.1l4,4.2l-11.5,12l15.7,16.4 M121.6,15.9c-0.4,0-0.8,0.4-0.8,0.9s0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9
			S122.1,15.9,121.6,15.9z M111.6-25.1c0,0.5,0.4,0.9,0.8,0.9s0.8-0.4,0.8-0.9s-0.4-0.9-0.8-0.9S111.6-25.6,111.6-25.1z"/>
	</g>
	
		<radialGradient id="SVGID_20_" cx="148.3365" cy="89.7704" r="17.3922" gradientTransform="matrix(1.0344 3.536892e-03 -4.054503e-03 1.2994 -14.0789 -9.1568)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#1081C4"/>
		<stop  offset="0.2748" style="stop-color:#107FC1"/>
		<stop  offset="0.4488" style="stop-color:#1178B9"/>
		<stop  offset="0.5949" style="stop-color:#116BAA"/>
		<stop  offset="0.7255" style="stop-color:#135A95"/>
		<stop  offset="0.8458" style="stop-color:#14447A"/>
		<stop  offset="0.957" style="stop-color:#16285A"/>
		<stop  offset="1" style="stop-color:#171C4B"/>
	</radialGradient>
	
		<line class="path3" fill="none" stroke="url(#SVGID_20_)" stroke-width="0.75" stroke-miterlimit="10" x1="156.8" y1="107.1" x2="121.3" y2="70"/>
	
		<radialGradient id="SVGID_21_" cx="75.0658" cy="38.2726" r="81.0042" gradientTransform="matrix(1.0344 0 0 1.2994 -14.3801 -8.4315)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#1081C4"/>
		<stop  offset="0.2748" style="stop-color:#107FC1"/>
		<stop  offset="0.4488" style="stop-color:#1178B9"/>
		<stop  offset="0.5949" style="stop-color:#116BAA"/>
		<stop  offset="0.7255" style="stop-color:#135A95"/>
		<stop  offset="0.8458" style="stop-color:#14447A"/>
		<stop  offset="0.957" style="stop-color:#16285A"/>
		<stop  offset="1" style="stop-color:#171C4B"/>
	</radialGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_21_)" stroke-width="0.75" stroke-miterlimit="10" d="M45.1,10.7l2.5-2.6 M44,10.7L26-8.1
		l-1.2,1.3L40.4,9.6l-9.6,10.1 M29.6,19.7l-4-4.2L24,17.1l12.9,13.6h6.6 M23.9,5.7l8.4,8.8l4.8-5.1l-14.3-15v-15.6L3.8-41
		 M28.4,34.7h15.1 M18.2-10.3l2.6-2.7v-4.9L1.2-38.4 M43.5,43.8H22.1l-53.5,56 M27.4,52.9 M-13.5-4l39.4,41.3h19.9 M94.8,12.5
		 M89.7,30.7h7.2l10.4-10.8l-1.7-1.8l-6.2,6.5l-4.2-4.4l3.5-3.7l-3.2-3.4 M111.2-29.8 M105.4-6.2l-4.7,5L112.4,11l-1.4,1.5
		 M89.7,34.7h14 M89.7,43.7h23.5l18.4-19.2 M135.9,36.9L123,50l-7.5,7.4 M114.3,57.4l-9.1-9.7H89.7 M103.8,65.9l6.1,6.4l2.1-2.2
		L97,54.3l-7.2,0 M87.4,37.2h19.8l4.2-4.4 M87.4,41.2h24l46.5-48.7 M94.3,11.9c-0.3,0.3-0.3,0.9,0,1.2c0.3,0.3,0.8,0.3,1.2,0
		c0.3-0.3,0.3-0.9,0-1.2C95.1,11.5,94.6,11.5,94.3,11.9z M111.4,31.6c-0.3,0.3-0.3,0.9,0,1.2c0.3,0.3,0.8,0.3,1.2,0
		c0.3-0.3,0.3-0.9,0-1.2C112.2,31.3,111.7,31.3,111.4,31.6z M23.9,99.4 M43.5,54.2h-12l-7.6,8l31.4,32.9 M38.4,93.3l-8.3-8.6l-1,1.1
		l5.5,5.7l-4.9,5.1h-5.2v-1.2h-4.3l-2.4,0v9.5h2.1v-9.3h2.9v9.3h1.8v-6.2h6.6 M120.4,69l-17.5-18.2 M101.7,89.9l18.8-19.6
		 M101.7,91.1l5.2,5.6v10.3h2.7v-2.2h3.6v-3.3h2.2 M43.5,47.5H25.9L12.4,61.7l16,16.7 M29,78.1c-0.4,0-0.8,0.4-0.8,0.9
		s0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9S29.4,78.1,29,78.1z M17.7-10.5c-0.4,0-0.8,0.4-0.8,0.9s0.4,0.9,0.8,0.9s0.8-0.4,0.8-0.9
		S18.1-10.5,17.7-10.5z M105.4-7.4c-0.3,0.3-0.3,0.9,0,1.2c0.3,0.3,0.8,0.3,1.2,0s0.3-0.9,0-1.2S105.7-7.8,105.4-7.4z M100.5,89.9
		c-0.3,0.3-0.3,0.9,0,1.2c0.3,0.3,0.8,0.3,1.2,0c0.3-0.3,0.3-0.9,0-1.2C101.3,89.5,100.8,89.5,100.5,89.9z M23.3,4.2
		c-0.4,0-0.8,0.4-0.8,0.9c0,0.5,0.4,0.9,0.8,0.9s0.8-0.4,0.8-0.9C24.1,4.6,23.7,4.2,23.3,4.2z M101.7,49.7c-0.3,0.3-0.3,0.9,0,1.2
		c0.3,0.3,0.8,0.3,1.2,0c0.3-0.3,0.3-0.9,0-1.2C102.6,49.3,102.1,49.3,101.7,49.7z M45.2,10.7c-0.3-0.3-0.8-0.3-1.2,0
		c-0.3,0.3-0.3,0.9,0,1.2c0.3,0.3,0.8,0.3,1.2,0C45.5,11.6,45.5,11.1,45.2,10.7z M48.8,7c-0.3-0.3-0.8-0.3-1.2,0s-0.3,0.9,0,1.2
		c0.3,0.3,0.8,0.3,1.2,0C49.1,7.8,49.1,7.3,48.8,7z M110.4,12.2c-0.4,0-0.8,0.4-0.8,0.9s0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9
		S110.9,12.2,110.4,12.2z M102.4,65.3c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9s-0.4-0.9-0.8-0.9
		C102.8,64.5,102.4,64.9,102.4,65.3z M29.4,20.3c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9c0-0.5-0.4-0.9-0.8-0.9
		C29.7,19.4,29.4,19.8,29.4,20.3z M16.2,63.1c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9c0-0.5-0.4-0.9-0.8-0.9
		C16.6,62.2,16.2,62.6,16.2,63.1z M103.7,34.7c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9s-0.4-0.9-0.8-0.9
		C104.1,33.8,103.7,34.2,103.7,34.7z M26.8,34.7c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9s-0.4-0.9-0.8-0.9
		C27.2,33.8,26.8,34.2,26.8,34.7z M39,93c-0.4,0-0.8,0.4-0.8,0.9c0,0.5,0.4,0.9,0.8,0.9s0.8-0.4,0.8-0.9C39.8,93.4,39.5,93,39,93z
		 M83.9,95.7c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9s-0.4-0.9-0.8-0.9C84.2,94.9,83.9,95.2,83.9,95.7z M120.2,69.6
		c0,0.5,0.4,0.9,0.8,0.9c0.4,0,0.8-0.4,0.8-0.9c0-0.5-0.4-0.9-0.8-0.9C120.5,68.8,120.2,69.2,120.2,69.6z M114.3,57.4
		c-0.3,0.3-0.3,0.9,0,1.2c0.3,0.3,0.8,0.3,1.2,0c0.3-0.3,0.3-0.9,0-1.2C115.2,57.1,114.7,57.1,114.3,57.4z"/>
	<path class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" d="M136,35.2c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C136.9,34.8,136.3,34.8,136,35.2z"/>
	<path class="path3" fill="none" stroke="#253E86" stroke-width="0.75" stroke-miterlimit="10" d="M142.5,28c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C143.4,27.6,142.8,27.6,142.5,28z"/>
	<path class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" d="M131.6,23.4c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C132.5,23.1,131.9,23.1,131.6,23.4z"/>
	
		<linearGradient id="SVGID_22_" gradientUnits="userSpaceOnUse" x1="-219.0652" y1="1051.719" x2="-236.361" y2="1034.4232" gradientTransform="matrix(0.713 0.7012 -0.7012 0.713 1072.8199 -577.4391)">
		<stop  offset="0" style="stop-color:#016EAF"/>
		<stop  offset="0.234" style="stop-color:#05609E"/>
		<stop  offset="0.6975" style="stop-color:#103D71"/>
		<stop  offset="1" style="stop-color:#182450"/>
	</linearGradient>
	
		<line class="path3" fill="none" stroke="url(#SVGID_22_)" stroke-width="0.75" stroke-miterlimit="10" x1="190.5" y1="-5.5" x2="167.6" y2="18.6"/>
	<path class="path3" fill="none" stroke="#253E86" stroke-width="0.75" stroke-miterlimit="10" d="M166.5,18.5c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C167.4,18.1,166.8,18.1,166.5,18.5z"/>
	
		<radialGradient id="SVGID_23_" cx="2892.7131" cy="1313.1791" r="6.1954" gradientTransform="matrix(-0.7315 -0.7657 0.8777 -0.9188 1330.1002 3249.9902)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#1081C4"/>
		<stop  offset="0.2514" style="stop-color:#117DC0"/>
		<stop  offset="0.4917" style="stop-color:#1572B6"/>
		<stop  offset="0.7275" style="stop-color:#1B5EA4"/>
		<stop  offset="0.9593" style="stop-color:#23448B"/>
		<stop  offset="1" style="stop-color:#253E86"/>
	</radialGradient>
	
		<line class="path3" fill="none" stroke="url(#SVGID_23_)" stroke-width="0.75" stroke-miterlimit="10" x1="174.7" y1="38.6" x2="174.8" y2="20.5"/>
	<path class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" d="M174.1,38.6c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C175,38.3,174.4,38.3,174.1,38.6z"/>
	<path class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" d="M174.1,18.7c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C175,18.4,174.4,18.4,174.1,18.7z"/>
	<path class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" d="M188.1,4.9c-0.3,0.4-0.3,0.9,0,1.3
		c0.3,0.4,0.9,0.4,1.2,0c0.3-0.4,0.3-0.9,0-1.3C189,4.5,188.5,4.5,188.1,4.9z"/>
	
		<radialGradient id="SVGID_24_" cx="151.8297" cy="81.6081" r="28.8323" gradientTransform="matrix(1 0 0 1.2 0 0)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#171C4B"/>
		<stop  offset="1" style="stop-color:#1081C4"/>
	</radialGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_24_)" stroke-width="0.75" stroke-miterlimit="10" d="M177.3,113l-33.1-34.3 M143.7,76.8v-11
		L129,50.5l-2.4,2.5l14.9,15.6l-2.2,2.3l-10.9-11.4 M142.9,77.9c0,0.5,0.4,1,0.9,1s0.9-0.4,0.9-1c0-0.5-0.4-1-0.9-1
		S142.9,77.4,142.9,77.9z M127.1,58.7c0,0.5,0.4,1,0.9,1c0.5,0,0.9-0.4,0.9-1c0-0.5-0.4-1-0.9-1C127.5,57.7,127.1,58.2,127.1,58.7z"
		/>
	<polyline class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" points="150.6,59.9 186.2,59.9 186.2,65.1 
		150.6,65.1 150.6,73.8 175,99.3 	"/>
	<ellipse class="path3" fill="none" stroke="#1081C4" stroke-width="0.75" stroke-miterlimit="10" cx="149.9" cy="59.7" rx="0.9" ry="0.9"/>
	<linearGradient id="SVGID_25_" gradientUnits="userSpaceOnUse" x1="425.9793" y1="-34.4306" x2="490.2903" y2="-34.4306">
		<stop  offset="0" style="stop-color:#003871"/>
		<stop  offset="5.907633e-02" style="stop-color:#004C88"/>
		<stop  offset="0.1478" style="stop-color:#0063A4"/>
		<stop  offset="0.2367" style="stop-color:#0074B9"/>
		<stop  offset="0.325" style="stop-color:#007FC5"/>
		<stop  offset="0.4121" style="stop-color:#0082C9"/>
		<stop  offset="0.5084" style="stop-color:#007EC4"/>
		<stop  offset="0.6172" style="stop-color:#0072B7"/>
		<stop  offset="0.7322" style="stop-color:#005EA0"/>
		<stop  offset="0.8515" style="stop-color:#004280"/>
		<stop  offset="0.9729" style="stop-color:#001F58"/>
		<stop  offset="1" style="stop-color:#00164E"/>
	</linearGradient>
	<polyline class="path3" fill="none" stroke="url(#SVGID_25_)" stroke-width="0.75" stroke-miterlimit="10" points="442.2,-77.4 489.8,-29.8 
		451.5,8.4 426,8.4 435.5,8.4 	"/>
	<linearGradient id="SVGID_26_" gradientUnits="userSpaceOnUse" x1="384.7216" y1="-58.5957" x2="384.7216" y2="-58.5957">
		<stop  offset="0" style="stop-color:#0082C9"/>
		<stop  offset="0.9706" style="stop-color:#0082C9;stop-opacity:2.454805e-02"/>
		<stop  offset="0.9951" style="stop-color:#0082C9;stop-opacity:0"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_26_)" stroke-width="0.75" stroke-miterlimit="10" d="M384.7-58.6"/>
	
		<linearGradient id="SVGID_27_" gradientUnits="userSpaceOnUse" x1="319.3809" y1="-32.4031" x2="257.2711" y2="-94.5128" gradientTransform="matrix(-0.7071 0.7071 -0.7071 -0.7071 745.4683 -260.028)">
		<stop  offset="0" style="stop-color:#006DAF"/>
		<stop  offset="0.2383" style="stop-color:#005F9E"/>
		<stop  offset="0.7103" style="stop-color:#003971"/>
		<stop  offset="1" style="stop-color:#002052"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_27_)" stroke-width="0.75" stroke-miterlimit="10" d="M628,16.3h-8.6v-28.5h-5.1V2.1h-14.6
		v-41.8h-57.1 M629.7,15.6c-0.4-0.4-0.9-0.4-1.3,0s-0.4,0.9,0,1.3s0.9,0.4,1.3,0C630.1,16.6,630.1,16,629.7,15.6z"/>
	<linearGradient id="SVGID_28_" gradientUnits="userSpaceOnUse" x1="265.819" y1="-58.602" x2="265.819" y2="-58.602">
		<stop  offset="0" style="stop-color:#00164E"/>
		<stop  offset="2.643406e-02" style="stop-color:#001D56"/>
		<stop  offset="0.153" style="stop-color:#003C79"/>
		<stop  offset="0.2874" style="stop-color:#005696"/>
		<stop  offset="0.43" style="stop-color:#0069AD"/>
		<stop  offset="0.5845" style="stop-color:#0077BD"/>
		<stop  offset="0.7597" style="stop-color:#007FC6"/>
		<stop  offset="1" style="stop-color:#0082C9"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_28_)" stroke-width="0.75" stroke-miterlimit="10" d="M265.8-58.6"/>
	<linearGradient id="SVGID_29_" gradientUnits="userSpaceOnUse" x1="227.9717" y1="103.0466" x2="396.9153" y2="-65.897">
		<stop  offset="0" style="stop-color:#003871"/>
		<stop  offset="5.907633e-02" style="stop-color:#004C88"/>
		<stop  offset="0.1478" style="stop-color:#0063A4"/>
		<stop  offset="0.2367" style="stop-color:#0074B9"/>
		<stop  offset="0.325" style="stop-color:#007FC5"/>
		<stop  offset="0.4121" style="stop-color:#0082C9"/>
		<stop  offset="0.5084" style="stop-color:#007EC4"/>
		<stop  offset="0.6172" style="stop-color:#0072B7"/>
		<stop  offset="0.7322" style="stop-color:#005EA0"/>
		<stop  offset="0.8515" style="stop-color:#004280"/>
		<stop  offset="0.9729" style="stop-color:#001F58"/>
		<stop  offset="1" style="stop-color:#00164E"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_29_)" stroke-width="0.75" stroke-miterlimit="10" d="M441.1-15.1l-55.3,55.3l9.6,9.6v16.8
		l-3.9,0l0-13.6h-8l0,4.6l-8.5,0v9l-5.4,0V53l-5.6,0l0-2.9l-3.9-3.9l-5,0 M232.7,54v12.5h10.9v-8.5l5.1-5.1H268l5.1,5.1v8.5h3.7
		V39.9h-6.1v-3.3h12.9v-3.3h-14.9L208-27.3 M222.3-47.9 M214.3,54.6 M214.1-27.3L271.5,30h5.4l0-14l1.9-1.9l1.9,1.9v14h6.2v9.9h-6.1
		v17.7h6.1V46.1h5.6V53h8v13.6h3.9V46.3l3.6-3.6h12.1l0,14.9l12.3,0l0-4.6l5.4,0l0,4.6l4.8,0l0-12.5l2.4-2.4l3.2,0l-0.1,23.9l6.1,0
		l0-19.4 M248.5,41.6l-19.7-19.7l-2.4,2.4L239,36.9l-11.2,11.2h-12.1v-8.2h-9.9l-5.6,5.6v21h4.8V46.1h6.6v20.4h4.1V53h16.2
		 M396.3,38l52.2-52.2 M396.5,39.4l9.1,9.1V71h6.2v-4.8h8.2V59h5.5h0.7 M389.6,75.5h37.3V60 M225.3,10.3l-28.6,28.6l0,32.1h22.5
		V57.6h6.7l2.3,2.3v14.2h31.3v-9.6h9.3V71h9.5l6.5-6.5H296V71h13.5V53h7.1v13.6h26.1V71h16V60.3l2.7-2.7h4.7V71h13.1v-9h9.5v12.5
		 M219.1-59.7l-31.1,31.1l37.5,37.5 M259.5-59.7 M226.1,8.7c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8
		C226.9,9.1,226.5,8.7,226.1,8.7z M395.1,38.1c-0.3,0.3-0.3,0.8,0,1.2c0.3,0.3,0.8,0.3,1.2,0s0.3-0.8,0-1.2S395.4,37.8,395.1,38.1z
		 M249.2,41.5c-0.5,0-0.8,0.4-0.8,0.8c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8C250.1,41.9,249.7,41.5,249.2,41.5z M231.9,53
		c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8C232.3,52.1,231.9,52.5,231.9,53z M388,75.5
		c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8s-0.4-0.8-0.8-0.8C388.4,74.7,388,75.1,388,75.5z M426.1,58.9c0,0.5,0.4,0.8,0.8,0.8
		c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8C426.5,58.1,426.1,58.5,426.1,58.9z M353.6,46.1c0,0.5,0.4,0.8,0.8,0.8
		c0.5,0,0.8-0.4,0.8-0.8s-0.4-0.8-0.8-0.8C354,45.3,353.6,45.7,353.6,46.1z"/>
	<linearGradient id="SVGID_30_" gradientUnits="userSpaceOnUse" x1="624.8822" y1="43.5453" x2="735.0303" y2="43.5453">
		<stop  offset="2.383814e-03" style="stop-color:#00164E"/>
		<stop  offset="0.7537" style="stop-color:#0082C9"/>
		<stop  offset="0.8231" style="stop-color:#007EC4"/>
		<stop  offset="0.9016" style="stop-color:#0072B7"/>
		<stop  offset="0.9842" style="stop-color:#005FA0"/>
		<stop  offset="1" style="stop-color:#005A9B"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_30_)" stroke-width="0.75" stroke-miterlimit="10" d="M707,9.9h-75.9L625.3,4v-15.5h69.2
		l37,36.9v32l-41,41h8L731,66l3.5,3.5L722,82 M721.9,49V24.4l-13.7-13.7 M721.3,50.8c-0.4-0.4-0.4-0.9,0-1.3c0.4-0.4,0.9-0.4,1.3,0
		s0.4,0.9,0,1.3S721.6,51.1,721.3,50.8z M708.2,10.6c-0.4,0.4-0.9,0.4-1.3,0c-0.4-0.4-0.4-0.9,0-1.3c0.4-0.4,0.9-0.4,1.3,0
		C708.5,9.6,708.5,10.2,708.2,10.6z M721.5,81.6c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9S722,81.6,721.5,81.6z"/>
	
		<radialGradient id="SVGID_31_" cx="546.7911" cy="9.918" r="74.1269" gradientTransform="matrix(1 0 0 1.2 0 0)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#004887"/>
		<stop  offset="0.5078" style="stop-color:#001952"/>
		<stop  offset="1" style="stop-color:#0065A8"/>
	</radialGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_31_)" stroke-width="0.75" stroke-miterlimit="10" d="M445.1,22.4c0,0.5-0.4,0.9-0.9,0.9
		s-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9S445.1,21.9,445.1,22.4z M593.5,8.5h-80l-12-12h-18l-10,10h-12.8v4.2l-4.2,4.2H452
		l-7.1,6.8 M648.5,22.5H613V14l-5.5-5.5H595 M649.4,21.5c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9
		C650.3,21.9,649.9,21.5,649.4,21.5z M594.4,7.5c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9S594.9,7.5,594.4,7.5
		z"/>
	<linearGradient id="SVGID_32_" gradientUnits="userSpaceOnUse" x1="687.4327" y1="76.8461" x2="724.711" y2="76.8461">
		<stop  offset="2.383814e-03" style="stop-color:#00164E"/>
		<stop  offset="0.7537" style="stop-color:#0082C9"/>
		<stop  offset="0.8231" style="stop-color:#007EC4"/>
		<stop  offset="0.9016" style="stop-color:#0072B7"/>
		<stop  offset="0.9842" style="stop-color:#005FA0"/>
		<stop  offset="1" style="stop-color:#005A9B"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_32_)" stroke-width="0.75" stroke-miterlimit="10" d="M724.3,59.4c0,0.5-0.4,0.9-0.9,0.9
		c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9C723.9,58.5,724.3,58.9,724.3,59.4z M722.7,60.3l-35,35"/>
	<linearGradient id="SVGID_33_" gradientUnits="userSpaceOnUse" x1="459.543" y1="85.75" x2="555.9053" y2="85.75">
		<stop  offset="0" style="stop-color:#005A9B"/>
		<stop  offset="0.5186" style="stop-color:#001A53"/>
	</linearGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_33_)" stroke-width="0.75" stroke-miterlimit="10" d="M461.8,69.4c0,0.5-0.4,0.9-0.9,0.9
		s-0.9-0.4-0.9-0.9s0.4-0.9,0.9-0.9S461.8,68.9,461.8,69.4z M463.4,79l8.1,8.5h14v5h16v-4.8h31.8l15.2,15.2h6.5l-19.5-19.5h-39v4h-6
		v-4h-16L461.4,70 M462.8,77.5c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9S463.3,77.5,462.8,77.5z"/>
	<linearGradient id="SVGID_34_" gradientUnits="userSpaceOnUse" x1="205.2348" y1="85.4451" x2="458.875" y2="85.4451">
		<stop  offset="0" style="stop-color:#002762"/>
		<stop  offset="0.4935" style="stop-color:#005A9B"/>
		<stop  offset="1" style="stop-color:#001A53"/>
	</linearGradient>
	<polyline class="path3" fill="none" stroke="url(#SVGID_34_)" stroke-width="0.75" stroke-miterlimit="10" points="458.5,94.5 458.5,86.5 
		381.5,86.5 381.5,83 360,83 352.5,75.5 336.5,75.5 328.5,83.5 302.5,83.5 302.5,76.5 294.5,76.5 294.5,83.5 259.5,83.5 259.5,86.5 
		249.5,86.5 249.5,82.5 231.5,82.5 228.5,79.5 221.5,79.5 205.5,95.5 	"/>
	
		<radialGradient id="SVGID_35_" cx="552.0549" cy="-1.3125" r="30.4228" gradientTransform="matrix(1 0 0 1.2 0 0)" gradientUnits="userSpaceOnUse">
		<stop  offset="1.991186e-02" style="stop-color:#001952"/>
		<stop  offset="1" style="stop-color:#004786"/>
	</radialGradient>
	<polyline class="path3" fill="none" stroke="url(#SVGID_35_)" stroke-width="0.75" stroke-miterlimit="10" points="509.5,-4.5 516.5,2.5 
		594.5,2.5 594.5,-5.5 	"/>
	
		<radialGradient id="SVGID_36_" cx="713.9729" cy="2.9729" r="9.7381" gradientTransform="matrix(1 0 0 1.2 0 0)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#004786"/>
		<stop  offset="1" style="stop-color:#001952"/>
	</radialGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_36_)" stroke-width="0.75" stroke-miterlimit="10" d="M704.5-6.5L722,11 M722.4,10.5
		c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9C723.3,10.9,722.9,10.5,722.4,10.5z"/>
	
		<radialGradient id="SVGID_37_" cx="666.5" cy="1.1055" r="21.7238" gradientTransform="matrix(1 0 0 1.2 0 0)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#004786"/>
		<stop  offset="1" style="stop-color:#001952"/>
	</radialGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_37_)" stroke-width="0.75" stroke-miterlimit="10" d="M696.5-3.5v8H638 M637.4,3.5
		c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9S637.9,3.5,637.4,3.5z"/>
	
		<radialGradient id="SVGID_38_" cx="632.418" cy="84.1322" r="48.0077" gradientTransform="matrix(1 0 0 1.2 0 0)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#004786"/>
		<stop  offset="1" style="stop-color:#001952"/>
	</radialGradient>
	<path class="path3" fill="none" stroke="url(#SVGID_38_)" stroke-width="0.75" stroke-miterlimit="10" d="M565.5,93.1V81.5h85v4h39l8.2-8.2
		 M698.4,75.5c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9S698.9,75.5,698.4,75.5z"/>
</g>
<g id="RB_Bell">
	<g>
		<g>
			<g>
				<polygon fill="#888A8C" points="89.2,17.8 66.2,13.5 66.2,80.7 90.5,64.4 				"/>
			</g>
			<g>
				<polygon fill="#CFD1D2" points="43.2,17.8 41.9,64.4 66.2,80.7 66.2,13.5 				"/>
			</g>
			<g>
				<polygon fill="#888A8C" points="43.2,17.8 41.9,64.4 44.9,62.1 45.9,20.4 				"/>
			</g>
			<g>
				<polygon fill="#CFD1D2" points="89.2,17.8 90.5,64.4 87.4,62.1 86.5,20.4 				"/>
			</g>
		</g>
		<g>
			<g>
				<polyline fill="#20275B" points="86.5,20.4 87.4,62.1 70.4,72.7 66.2,68.5 66.2,16.6 86.5,20.4 				"/>
			</g>
			<g>
				<polygon fill="#253E86" points="72.1,71.6 87.4,62.1 86.5,20.4 72.1,17.7 82.8,22.4 82.8,61.1 				"/>
			</g>
		</g>
		<g>
			<g>
				<polyline fill="#253E86" points="45.9,20.4 44.9,62.1 62,72.7 66.2,68.5 66.2,16.6 45.9,20.4 				"/>
			</g>
			<g>
				<polygon fill="#20275B" points="60.2,71.6 44.9,62.1 45.9,20.4 60.2,17.7 49.6,22.4 49.6,61.1 				"/>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path fill="#CFD1D2" d="M66.2,75.5c0.5-0.3,0.8-0.8,0.8-1.4c0-0.6-0.3-1.2-0.8-1.4V75.5z"/>
				</g>
				<g>
					<polygon fill="#CFD1D2" points="66.5,75.7 67.2,75.9 67,75.2 					"/>
				</g>
				<g>
					<polygon fill="#CFD1D2" points="66.5,72.5 67,73 67.2,72.3 					"/>
				</g>
				<g>
					<polygon fill="#CFD1D2" points="67.3,73.7 67.3,74.5 67.9,74.1 					"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M67.7,71.9c-0.4-0.2-0.8-0.3-1.2-0.3c0.1,0,0.2,0.1,0.3,0.1c1.3,0.7,1.9,2.4,1.2,3.8
						c-0.4,0.8-1.1,1.3-1.8,1.5v1c1.2,0,2.3-0.6,2.9-1.8C69.8,74.6,69.2,72.7,67.7,71.9z"/>
				</g>
			</g>
			<g>
				<g>
					<polygon fill="#888A8C" points="65.5,76.7 65.8,76 65.1,76 					"/>
				</g>
				<g>
					<polygon fill="#888A8C" points="65.5,71.5 65.1,72.2 65.8,72.2 					"/>
				</g>
				<g>
					<path fill="#888A8C" d="M66.2,72.7c-0.2-0.1-0.4-0.2-0.7-0.2c-0.8,0-1.5,0.7-1.5,1.6c0,0.9,0.7,1.6,1.5,1.6
						c0.3,0,0.5-0.1,0.7-0.2V72.7z"/>
				</g>
				<g>
					<polygon fill="#888A8C" points="63.9,75.2 63.7,75.9 64.4,75.7 					"/>
				</g>
				<g>
					<path fill="#888A8C" d="M66.2,77c-0.6,0.1-1.2,0.1-1.8-0.2c-0.4-0.2-0.7-0.5-0.9-0.8c0.3,0.7,0.8,1.3,1.5,1.7
						c0.4,0.2,0.8,0.3,1.3,0.3V77z"/>
				</g>
				<g>
					<polygon fill="#888A8C" points="64.4,72.5 63.7,72.3 63.9,73 					"/>
				</g>
				<g>
					<polygon fill="#888A8C" points="63.6,73.7 63,74.1 63.6,74.5 					"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				
					<ellipse transform="matrix(-4.999595e-02 -0.9987 0.9987 -4.999595e-02 12.5195 151.5338)" fill="#253E86" cx="78.3" cy="69.8" rx="0.5" ry="0.4"/>
			</g>
			<g>
				
					<ellipse transform="matrix(4.999587e-02 0.9987 -0.9987 4.999587e-02 143.7321 -9.4459)" fill="#253E86" cx="76.8" cy="70.8" rx="0.5" ry="0.4"/>
			</g>
			<g>
				
					<ellipse transform="matrix(4.999587e-02 0.9987 -0.9987 4.999587e-02 142.9203 -4.5206)" fill="#253E86" cx="73.8" cy="72.9" rx="0.5" ry="0.4"/>
			</g>
			<g>
				
					<ellipse transform="matrix(5.000527e-02 0.9987 -0.9987 5.000527e-02 142.5137 -2.0586)" fill="#253E86" cx="72.3" cy="73.9" rx="0.5" ry="0.4"/>
			</g>
			<g>
				<path fill="#20275B" d="M54.2,70.2c-0.2,0.1-0.5,0-0.6-0.2c-0.1-0.2,0-0.5,0.2-0.6c0.2-0.1,0.5,0,0.6,0.2
					C54.5,69.8,54.4,70.1,54.2,70.2z"/>
			</g>
			<g>
				<path fill="#20275B" d="M55.9,70.6c-0.1-0.2-0.4-0.3-0.6-0.2c-0.2,0.1-0.3,0.4-0.2,0.6c0.1,0.2,0.4,0.3,0.6,0.2
					C55.9,71.1,56,70.8,55.9,70.6z"/>
			</g>
			<g>
				<path fill="#20275B" d="M57.4,71.6c-0.1-0.2-0.4-0.3-0.6-0.2c-0.2,0.1-0.3,0.4-0.2,0.6s0.4,0.3,0.6,0.2
					C57.4,72.1,57.5,71.9,57.4,71.6z"/>
			</g>
			<g>
				<path fill="#20275B" d="M58.9,72.7c-0.1-0.2-0.4-0.3-0.6-0.2c-0.2,0.1-0.3,0.4-0.2,0.6c0.1,0.2,0.4,0.3,0.6,0.2
					C58.9,73.2,59,72.9,58.9,72.7z"/>
			</g>
			<g>
				<path fill="#20275B" d="M60.4,73.7c-0.1-0.2-0.4-0.3-0.6-0.2c-0.2,0.1-0.3,0.4-0.2,0.6c0.1,0.2,0.4,0.3,0.6,0.2
					C60.4,74.2,60.5,73.9,60.4,73.7z"/>
			</g>
			<g>
				
					<ellipse transform="matrix(5.000813e-02 0.9987 -0.9987 5.000813e-02 143.3252 -6.984)" fill="#253E86" cx="75.3" cy="71.8" rx="0.5" ry="0.4"/>
			</g>
		</g>
		<g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<polygon fill="#FDD204" points="42.6,30.3 42.6,31.1 46.7,31.1 47.5,30.3 									"/>
								</g>
								<g>
									<g>
										<polygon fill="#FDD204" points="47.5,32.3 47.5,30.3 46.7,31.1 46.7,34.3 47.5,35.1 47.5,33.1 51.3,33.1 52.1,32.3 
																					"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="46.7,34.3 42.6,34.3 42.6,35.1 47.5,35.1 										"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="42.6,36.8 42.6,37.6 46.7,37.6 47.5,36.8 										"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="52.1,35.5 52.1,32.3 51.3,33.1 51.3,38.8 52.1,39.6 52.1,36.3 55.9,36.3 56.7,35.5 
																					"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="51.3,38.8 47.5,38.8 47.5,36.8 46.7,37.6 46.7,40.8 47.5,41.6 47.5,39.6 52.1,39.6 
																					"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="46.7,40.8 42.3,40.8 42.3,41.6 47.5,41.6 										"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="56.7,42 56.7,35.5 55.9,36.3 55.9,48.6 56.7,49.4 56.7,42.9 60.8,42.9 60.8,42 										
											"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="47.5,45.3 47.5,43.3 42.2,43.3 42.2,44.2 46.7,44.2 46.7,47.3 47.5,48.2 47.5,46.2 
											51.3,46.2 52.1,45.3 										"/>
									</g>
									<g>
										<polyline fill="#FDD204" points="47.5,51.8 47.5,49.8 42.2,49.8 42.2,50.7 46.7,50.7 46.7,54.7 47.5,54.7 47.5,52.7 
																					"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="46.7,47.3 42.2,47.3 42.2,48.2 47.5,48.2 										"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="55.9,48.6 52.1,48.6 52.1,45.3 51.3,46.2 51.3,52.7 52.1,52.7 52.1,49.4 56.7,49.4 
																					"/>
									</g>
									<g>
										<polyline fill="#FDD204" points="47.5,51.8 51.3,51.8 52.1,52.7 47.5,52.7 										"/>
									</g>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
			<g>
				<g>
					<g>
						<g>
							<g>
								<g>
									<polygon fill="#CC982B" points="89.7,30.3 89.7,31.1 85.6,31.1 84.8,30.3 									"/>
								</g>
								<g>
									<g>
										<polygon fill="#CC982B" points="84.8,32.3 84.8,30.3 85.6,31.1 85.6,34.3 84.8,35.1 84.8,33.1 81,33.1 80.2,32.3 
																					"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="85.6,34.3 89.7,34.3 89.7,35.1 84.8,35.1 										"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="89.7,36.8 89.7,37.6 85.6,37.6 84.8,36.8 										"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="80.2,35.5 80.2,32.3 81,33.1 81,38.8 80.2,39.6 80.2,36.3 76.4,36.3 75.6,35.5 										
											"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="81,38.8 84.8,38.8 84.8,36.8 85.6,37.6 85.6,40.8 84.8,41.6 84.8,39.6 80.2,39.6 
																					"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="85.6,40.8 90,40.8 90,41.6 84.8,41.6 										"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="75.6,42 75.6,35.5 76.4,36.3 76.4,48.6 75.6,49.4 75.6,42.9 71.5,42.9 71.5,42 										
											"/>
									</g>
									<g>
										<polygon fill="#CC982B" points="84.8,45.3 84.8,43.3 90.2,43.3 90.2,44.2 85.6,44.2 85.6,47.3 84.8,48.2 84.8,46.2 
											81,46.2 80.2,45.3 										"/>
									</g>
									<g>
										<polyline fill="#CC982B" points="84.8,51.8 84.8,49.8 90.2,49.8 90.2,50.7 85.6,50.7 85.6,54.7 84.8,54.7 84.8,52.7 
																					"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="85.6,47.3 90.2,47.3 90.2,48.2 84.8,48.2 										"/>
									</g>
									<g>
										<polygon fill="#FDD204" points="76.4,48.6 80.2,48.6 80.2,45.3 81,46.2 81,52.7 80.2,52.7 80.2,49.4 75.6,49.4 										
											"/>
									</g>
									<g>
										<polyline fill="#CC982B" points="84.8,51.8 81,51.8 80.2,52.7 84.8,52.7 										"/>
									</g>
								</g>
							</g>
						</g>
					</g>
				</g>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FDD204" d="M71.5,36.9c2.9,3.1,2.9,8,0,11.1s-7.7,3.1-10.6,0s-2.9-8,0-11.1C63.8,33.8,68.5,33.8,71.5,36.9z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M66.2,49.9c-1.9,0-3.7-0.8-5.1-2.2c-2.8-2.9-2.8-7.7,0-10.6c2.8-2.9,7.3-2.9,10.1,0l0,0
					c2.8,2.9,2.8,7.7,0,10.6C69.9,49.2,68.1,49.9,66.2,49.9z M66.2,35.5c-1.7,0-3.4,0.7-4.7,2c-2.6,2.7-2.6,7.1,0,9.8
					c1.2,1.3,2.9,2,4.7,2c1.8,0,3.4-0.7,4.7-2c2.6-2.7,2.6-7.1,0-9.8C69.5,36.2,67.9,35.5,66.2,35.5z"/>
			</g>
			<g>
				<path fill="#20275B" d="M70.8,42.4c0,2.7-2.1,4.9-4.6,4.9c-2.6,0-4.6-2.2-4.6-4.9c0-1.4,0.6-2.7,1.6-3.7l1.2,1.5
					c-0.6,0.5-0.9,1.3-0.9,2.2c0,1.6,1.2,2.9,2.8,2.9c1.5,0,2.8-1.3,2.8-2.9c0-0.8-0.3-1.6-0.9-2.2l1.2-1.5
					C70.2,39.7,70.8,41,70.8,42.4z M66.2,43.4c0.5,0,0.9-0.4,0.9-1V38c0-0.5-0.4-1-0.9-1s-0.9,0.4-0.9,1v4.4
					C65.2,43,65.7,43.4,66.2,43.4z"/>
			</g>
			<g>
				<g>
					<path fill="#FDD204" d="M66.3,45.7c0,0,0.1,0,0.1,0c1.7,0,3.1-1.5,3.1-3.2c0-0.8-0.3-1.6-0.8-2.2l0.7-0.8c0,0-0.1-0.1-0.1-0.1
						l-0.8,1c0.5,0.6,0.8,1.4,0.8,2.2C69.3,44.2,67.9,45.6,66.3,45.7z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M66.2,43.1c0,0,0.1,0,0.1,0c-0.3-0.1-0.5-0.3-0.5-0.6V38c0-0.3,0.2-0.6,0.5-0.6c0,0-0.1,0-0.1,0
						c-0.3,0-0.6,0.3-0.6,0.6v4.4C65.6,42.8,65.8,43.1,66.2,43.1z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M62.1,42.4c0-1.1,0.4-2.2,1.1-3l-0.1-0.1c-0.8,0.8-1.2,2-1.2,3.1c0,2.5,1.9,4.5,4.3,4.5
						c0,0,0.1,0,0.1,0C64,46.9,62.1,44.9,62.1,42.4z"/>
				</g>
			</g>
			<g>
				<path fill="#CC982B" d="M66.2,49.9c-2,0-3.8-0.8-5.2-2.3l0.4-0.4c1.3,1.4,2.9,2.1,4.7,2.1c3.6,0,6.6-3.1,6.6-6.9
					c0-3.8-3-6.9-6.6-6.9v-0.6c4,0,7.2,3.4,7.2,7.5S70.1,49.9,66.2,49.9z"/>
			</g>
		</g>
		<g>
			<path fill="#DF1D4E" d="M66.2,81.3L41.5,64.6l1.3-47.1l23.4-4.3l23.4,4.3l1.3,47.1L66.2,81.3z M42.3,64.1l23.9,16.1L90,64.1
				l-1.2-46L66.2,14l-22.6,4.2L42.3,64.1z"/>
		</g>
		<g>
			<g>
				<g>
					<path fill="#FFFFFF" d="M63.4,20.9l2.6,0l0,9.5l-3,0c-0.1,0-0.3,0.1-0.5,0.1c-1.1,0-2-0.5-2.5-1.7c-0.7,1.3-1.8,1.8-3,1.8
						c-0.4,0-0.8-0.1-1.1-0.2c0,0-7.5,0-7.5,0l0-9.1l3.6,0c1.4,0,2.7,1.1,2.7,3c0,0.8-0.4,1.4-0.4,1.4c0.5-1,1.6-1.5,2.6-1.5
						c1.1,0,2.2,0.3,2.8,2c0.5-1.3,1.2-2,2.7-2c0.4,0,0.5,0.1,0.9,0.1L63.4,20.9z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M78.8,21l5.2,0l0,9.5l-6.5,0c-0.5,0.2-1,0.3-1.3,0.3c-0.8,0-2.3-0.3-2.7-1.7c-0.3,0.8-1.6,1.4-2.2,1.4
						l-4.2,0l0-9l3.4,0c1.4,0,2.7,0.7,2.7,2.6c0,0.1,0,0.3-0.1,0.5l5.8,0L78.8,21z"/>
				</g>
				<g>
					<path fill="#DF1D4E" d="M56,26.8c0-0.5,0.4-1,0.9-1c0.5,0,0.9,0.4,0.9,1 M63.9,29.3C63.5,29.7,63,30,62.4,30
						c-1.3,0-2.3-1.2-2.3-2.6c0-1.4,1-2.6,2.3-2.6c0.6,0,1.1,0.3,1.5,0.7l0-4l1.5,0l0,8.5h-1.5L63.9,29.3z M51.5,23.3l-1,0l0,6.6
						h-1.6l0-8l2.7,0c0,0,0.2,0,0.3,0c1.3,0,2.3,1.1,2.3,2.4c0,1.1-0.7,2-1.8,2.3l2.2,3.3h-1.9l-1.6-2.6l0-1.9l0.4,0
						c0.6,0,1.1-0.5,1.1-1C52.6,23.7,52.1,23.3,51.5,23.3z M59.4,27.8c0-0.1,0-0.2,0-0.3c0-1.7-1.1-2.7-2.5-2.7
						c-1.4,0-2.5,1.2-2.5,2.7c0,1.5,1.1,2.7,2.5,2.7c1.1,0,1.9-0.5,2.3-1.3L58,28.2c-0.2,0.4-0.5,0.6-1,0.6c-0.6,0-1-0.4-1-1
						c0,0,0,0,0-0.1L59.4,27.8z M72,22.6c0.4,0.4,0.6,0.9,0.6,1.4c0,0.6-0.3,1.2-0.7,1.6c1,0.5,1.3,1.2,1.3,2.1c0,1.2-1,2.3-2.3,2.3
						h-3.4l0-8l2.6,0C71,22,71.7,22.2,72,22.6z M83.4,30h-1.5l0-8.4l1.5,0L83.4,30z M80.9,30l-1.5,0l0-8.4l1.5,0L80.9,30z
						 M75.3,27.9l0-2.9l-1.5,0l0,3.2c0,1.1,1.1,2,2.4,2c1.3,0,2.4-0.9,2.4-1.9l0-3.2H77l0,2.9c0,0.5-0.4,0.9-0.9,0.9
						C75.7,28.8,75.3,28.4,75.3,27.9z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M61.1,14c0-3.2,2.5-5.8,5.5-5.8c3,0,5.5,2.6,5.5,5.8c0,3.2-2.5,5.8-5.5,5.8
						C63.5,19.8,61.1,17.2,61.1,14"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M71,16.2c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.1,0.1-0.1c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0
						C70.9,15.9,70.9,16.1,71,16.2 M70.9,17.2c-0.1,0.2-0.2,0.4-0.5,0.5c-0.1,0-0.3-0.1-0.5-0.1c-0.1,0-0.2-0.1-0.2-0.1
						c-0.1,0-0.1,0-0.2,0c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0c-0.2,0-0.3,0-0.5-0.2c-0.3,0.4-0.7,0.5-1.1,0.5
						c-0.1,0-0.4-0.1-0.4-0.3c-0.4,0-0.6-0.4-0.3-0.6c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.3c0.2-0.2,0.4-0.5,0.5-0.8
						c0.1-0.3,0.2-0.7,0.3-1c0.2-0.7,0.3-1.5,0.9-2c0.4-0.5,0.7-0.7,1.5-1.3c0.2-0.2,0.5-0.4,0.7-0.6c0.2-0.2,0.5-0.4,0.7-0.4
						c0.4,0,1,0.1,1.4,0.7c0,0,0,0,0,0c0,0,0,0,0.1,0c0.1,0,0.1,0,0.2,0.1c0.2,0.1,0.4,0.1,0.7,0.3c0.2,0.1,0.3,0.2,0.3,0.3
						c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0.1,0,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.2,0c0.2,0,0.3,0.1,0.5,0.2
						c0.1,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.3,0.1,0.5,0.2c0.1,0,0.2,0,0.3,0.1c0.1,0,0.2,0.1,0.4,0.1c0.2,0.1,0.4,0.2,0.6,0.4
						c0.2,0.1,0.3,0.2,0.5,0.3c0.3,0.2,0.5,0.3,0.8,0.3c0.2,0,0.3-0.1,0.3-0.3c0-0.1,0-0.2-0.2-0.3c0-0.1-0.1-0.1-0.2-0.2
						c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.3-0.3-0.4-0.5c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.2,0.1-0.4,0.3-0.6c0.3-0.3,0.6-0.4,0.8-0.4
						c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.1c0,0,0,0,0.1,0c0,0,0.1,0,0.2,0.1
						c0.1,0.1,0.1,0.3,0.2,0.4c0,0.1,0,0.2,0,0.3c0,0.5-0.3,0.9-0.8,1c0.5,0.4,0.8,1,0.8,1.4c0,0.9-0.8,1.4-1.4,1.4c0,0-0.1,0-0.2,0
						c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2-0.1,0.3l0,0.1c0,0,0,0.1,0.1,0.1c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0
						c0.3,0.1,0.4,0.3,0.4,0.5c0,0.1,0,0.2,0.1,0.3c0,0,0,0,0,0.1c0.1-0.1,0.3-0.2,0.4-0.2c0.2,0,0.6,0.4,0.7,0.5c0,0.1,0,0.1,0,0.2
						c0,0,0,0,0,0.1c0-0.1,0.2-0.1,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.4c0,0,0,0,0,0c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.1c0,0,0,0.1,0,0.2
						c0,0.1-0.1,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.3,0.1-0.4,0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2,0-0.4,0
						c-0.3,0-0.5-0.1-0.6-0.3c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0
						c-0.2,0-0.4-0.1-0.6-0.2c-0.1-0.1-0.2-0.1-0.2-0.2c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2,0-0.3,0
						c-0.4,0.1-0.6-0.1-0.8-0.2c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.2c-0.2-0.2-0.3-0.5-0.3-0.8c-0.1,0-0.3,0.1-0.4,0.1
						l-0.6,0c-0.4,0-0.6,0.1-1,0.1c-0.2,0-0.5,0-0.6,0c0,0,0,0,0,0c0.1,0,0.1,0.1,0.1,0.1c0,0,0,0,0.1,0l0.6,0
						c0.2,0,0.3,0.1,0.3,0.3c0,0.1-0.2,0.7-0.6,0.8c-0.1,0.2-0.2,0.6-0.6,0.6c-0.3,0-0.9-0.2-1.3-0.3c0,0-0.1,0-0.1-0.1
						c0,0,0,0-0.1-0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1,0-0.2-0.1C71.1,17.6,71,17.5,70.9,17.2
						C70.9,17.3,70.9,17.3,70.9,17.2z M62.4,15.8c-0.2,0-0.3,0.1-0.4,0.1c0,0.1,0.1,0.2,0.2,0.3c0.1-0.1,0.1-0.2,0.2-0.3
						C62.4,15.8,62.4,15.8,62.4,15.8z M54.8,15.8c-0.1-0.2-0.2-0.5-0.2-0.9c-1.3,0.2-1.9-0.7-1.9-1.5c0-0.6,0.2-0.9,0.8-1.4
						c-0.6-0.1-1-0.7-1-1.2c0-0.4,0.1-0.5,0.2-0.7l0.1-0.1l0.1,0.1c0,0,0.5,0.3,0.7,0.4c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0
						c0.1,0,0.2,0,0.4,0.1c0.3,0.1,0.6,0.3,0.7,0.6c0.1,0.4,0,0.6-0.2,0.9c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.2-0.4,0.3
						c-0.2,0.2-0.3,0.4-0.3,0.6c0,0.2,0.2,0.4,0.4,0.4c0.3,0,0.5-0.1,0.8-0.4c0.1-0.1,0.3-0.2,0.4-0.3c0.2-0.1,0.3-0.2,0.5-0.3
						c0.2-0.1,0.3-0.1,0.4-0.1c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.5-0.2c0.1,0,0.1-0.1,0.2-0.2c0.1-0.1,0.2-0.1,0.2-0.2
						c0.2-0.1,0.4-0.3,0.7-0.3c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0,0,0,0,0.1-0.1c0,0,0.1-0.1,0.2-0.2c0.1-0.1,0.3-0.3,0.6-0.4
						c0.3-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.4-0.2,0.7-0.4c0.2-0.1,0.8-0.4,1.6,0.1c0.2,0.2,0.4,0.3,0.6,0.5c0.2,0.2,0.4,0.4,0.7,0.7
						c0.1,0.1,0.2,0.2,0.3,0.4c0.1,0.1,0.2,0.3,0.3,0.4c0.3,0.4,0.6,0.8,0.7,1.2c0.1,0.7,0.2,1.2,0.4,1.9c0,0,0,0,0,0c0,0,0,0,0,0.1
						l0.1,0.1c0,0,0,0.1,0.1,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0.2,0.2,0.3,0.3c0.2,0.1,0.2,0.1,0.3,0.2
						c0.1,0.1,0.1,0.3,0,0.4c-0.1,0.1-0.1,0.1-0.2,0.1c0,0.2-0.1,0.4-0.4,0.4c-0.6,0-1-0.3-1.2-0.4l0,0c-0.1,0-0.2,0.1-0.3,0.2
						c-0.1,0.1-0.3,0.1-0.4,0.1c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0.1-0.4,0.1c-0.1,0-0.3,0.1-0.4,0.1
						c-0.3,0-0.4-0.1-0.5-0.3c0,0,0-0.1,0-0.1c-0.1,0.2-0.2,0.4-0.3,0.4c-0.1,0-0.2,0.1-0.3,0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0
						c-0.4,0.2-1.1,0.5-1.4,0.5c-0.3,0-0.6-0.2-0.8-0.6c-0.1,0-0.3,0-0.3-0.1c-0.2-0.2-0.4-0.7-0.4-0.8c0-0.1,0.1-0.2,0.2-0.3
						c0.1,0,0.2-0.1,0.3-0.1c0.2,0,0.4,0,0.4,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0.1-0.1,0.2-0.1,0.3-0.1
						c0,0,0,0,0.1,0c-0.1,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0.1c-0.4,0-0.9,0-1,0c-0.1,0-0.3,0-0.4,0.1
						c-0.1,0-0.3,0-0.4,0c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.1,0.3-0.2,0.3c-0.1,0.1-0.2,0.2-0.3,0.2c0,0-0.1,0-0.1,0
						c0,0-0.1,0-0.1,0c-0.1,0-0.2,0.1-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.1c-0.3-0.1-0.6-0.1-0.7-0.1c0,0-0.1,0-0.2,0.1
						c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c-0.2,0.1-0.4,0.3-0.7,0.3c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0.1-0.1,0.1
						c0,0,0,0.1-0.1,0.1c0,0,0,0.1-0.1,0.1c-0.1,0.1-0.3,0.3-0.5,0.3c0,0,0,0-0.1,0c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2,0
						c-0.1,0-0.1,0-0.2,0l-0.1,0c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.2
						c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0.1-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0.1-0.2c0.1-0.1,0.2-0.3,0.4-0.3l0,0
						c0.1-0.4,0.5-0.6,0.7-0.5h0c0.2,0,0.3,0.1,0.4,0.3c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0-0.1,0-0.1,0.1-0.2
						c0.1-0.1,0.2-0.3,0.4-0.3c0.2,0,0.4,0,0.5-0.1C54.7,15.8,54.8,15.8,54.8,15.8z"/>
				</g>
				<g>
					<path fill="#DF1D4E" d="M80.7,17.6c0.1,0.1,0,0.3,0.1,0.4c0,0.1,0.1,0.2,0.1,0.3l-0.3,0.1c-0.1,0,0-0.1-0.1-0.1
						c0-0.2-0.1-0.3-0.1-0.5c0-0.1,0.1-0.2,0.2-0.2C80.5,17.4,80.6,17.5,80.7,17.6 M52.7,17.6L52.7,17.6c-0.1,0.2-0.1,0.4-0.2,0.7
						c-0.1,0-0.2-0.1-0.3-0.1c0,0,0-0.1,0-0.1c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0.1-0.2,0.2-0.2C52.6,17.4,52.7,17.5,52.7,17.6z
						 M79.9,16.9c0.1,0.1,0.3,0.2,0.4,0.3c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1c-0.1-0.1-0.2-0.2-0.2-0.3
						C79.7,16.9,79.8,16.8,79.9,16.9z M53.3,16.9c-0.1,0.1-0.2,0.3-0.3,0.4c-0.1,0-0.1,0-0.2,0c0,0-0.1-0.1-0.1-0.1
						c0-0.1,0-0.1,0-0.2c0.1-0.1,0.2-0.2,0.3-0.2c0,0,0.1,0,0.1,0C53.3,16.8,53.3,16.9,53.3,16.9z M73.1,16.8c0,0.1-0.1,0.3-0.1,0.4
						c0,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2-0.2c0-0.1,0-0.2,0.1-0.3C72.7,16.7,72.8,16.7,73.1,16.8C73,16.7,73,16.7,73.1,16.8z
						 M60.5,16.9c0,0.1,0.1,0.1,0,0.2c-0.1,0.1-0.2,0.2-0.4,0.1C60,17.1,60,17,59.9,16.8c0-0.1-0.2-0.1-0.1-0.2l0,0
						c0.2,0,0.3,0,0.5,0C60.5,16.6,60.4,16.8,60.5,16.9z M72.5,10.9c0.2,0.1,0.2,0.3,0.4,0.4c0.3,0.1,0.6,0.1,0.9,0.3
						c0.2,0.1,0.4,0.3,0.6,0.4c0.2,0.1,0.4,0.1,0.6,0.1c0.3,0.1,0.5,0.3,0.7,0.4c0.3,0.3,0.8,0.2,1.1,0.4c0.6,0.2,1,0.7,1.6,0.9
						c0.3,0.2,0.7,0.2,1,0c0.2-0.1,0.3-0.3,0.3-0.6c-0.1-0.6-0.7-0.9-1.1-1.4c-0.1-0.1-0.1-0.3-0.1-0.4c0.1-0.3,0.4-0.5,0.7-0.6
						c0.2-0.1,0.5-0.1,0.6-0.2c0.1,0,0.1-0.1,0.2-0.2c0,0,0,0.1,0.1,0.1c0.1,0.4,0,0.7-0.3,0.9c-0.1,0.1-0.3,0.1-0.4,0.2
						c-0.1,0-0.3-0.1-0.3,0.2c0,0.1,0.1,0.2,0.2,0.2c0.4,0.3,0.8,0.8,0.8,1.3c0,0.4-0.3,0.8-0.6,0.9c-0.2,0.1-0.6,0.1-0.9,0.1
						c-0.1,0-0.2-0.1-0.2,0c0,0.1,0.1,0.2,0.1,0.3c0,0.2,0,0.4,0,0.6c0,0.2-0.2,0.3,0,0.5c0.1,0.2,0.4,0.1,0.6,0.2
						c0.1,0,0.2,0.2,0.2,0.3c0,0.1,0,0.2,0.1,0.3c0,0.2,0.2,0.3,0.4,0.5c0.1,0.2,0.3,0.4,0.5,0.4c0.1,0.2,0.1,0.4,0.2,0.6l0,0
						c-0.2,0-0.5,0.1-0.6-0.1c-0.2-0.1-0.2-0.4-0.5-0.4c-0.1,0.1-0.3,0.1-0.4,0.1c-0.1,0-0.2-0.2-0.3-0.2c-0.3-0.3-0.8-0.4-1.2-0.3
						c-0.3,0.1-0.5-0.1-0.7-0.2c-0.3-0.1-0.3-0.4-0.4-0.7l0-0.3c0,0,0-0.1,0.1-0.1l0,0c0.2,0.5,0.4,0.8,0.8,0.9c0.4,0.2,0.7,0,1.1,0
						c0.4,0,0.6,0.3,0.9,0.5c0,0,0,0,0.1,0l0,0c-0.3-0.4-0.8-0.7-1.3-0.7c-0.4,0.1-0.9-0.1-1.1-0.4c-0.1-0.2-0.2-0.4-0.3-0.7
						c0-0.3-0.1-0.6-0.2-0.9c0,0-0.1-0.1-0.1,0l-0.1,0c0,0.3,0.2,0.6,0.1,0.9c-0.1,0.2-0.3,0.3-0.5,0.3c-0.2,0-0.4,0-0.6,0
						c-0.5,0-0.9,0.1-1.5,0.1c0-0.1,0.1-0.2,0.1-0.4c0,0-0.1,0-0.1,0c-0.1,0.1-0.1,0.2-0.1,0.3c-0.1,0.2-0.3,0.4-0.5,0.4
						c-0.2,0.1-0.3,0.3-0.4,0.4c-0.1,0.1-0.1,0.1,0,0.2c0.1,0.3,0.4,0.3,0.6,0.4c0.1,0,0.2,0,0.3-0.1c0.1-0.2,0.1-0.4,0.3-0.5h0.5
						c0,0,0.1,0,0.1,0.1l0,0.1c-0.1,0.1-0.2,0.3-0.3,0.4c-0.1,0-0.2,0-0.2,0.1c0,0.2-0.1,0.4-0.2,0.5c-0.1,0.1-0.3,0.1-0.5,0
						c-0.3-0.1-0.6-0.2-0.8-0.2c-0.1,0-0.2-0.2-0.3-0.2c-0.1,0-0.2,0.1-0.3,0c-0.1-0.1-0.1-0.2-0.1-0.4c0-0.1-0.1-0.2-0.1-0.3
						c0-0.1,0-0.1,0-0.2l0.4-0.7c0,0,0.1-0.1,0.1-0.1c0.1,0,0.2,0.1,0.3,0.1l0,0l-0.4,0.6c-0.1,0.2,0,0.4,0.1,0.6c0,0,0,0,0,0
						c0-0.1,0-0.2,0-0.4c0-0.1,0.1-0.2,0.2-0.3l0.3-0.5c0-0.1,0-0.2,0-0.3c-0.1-0.1-0.3-0.2-0.4-0.4c-0.2-0.3-0.2-0.7-0.2-1.2
						c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0.1c-0.1,0.3,0,0.6,0,0.9c0.1,0.2,0.1,0.4,0.2,0.6c0,0,0,0.1,0,0.1c-0.2,0-0.4,0-0.6,0
						c-0.3,0-0.4-0.3-0.7-0.4c0,0-0.1,0-0.1,0c0.1,0.3,0.4,0.5,0.5,0.8c0.1,0.2,0.3,0.4,0.3,0.6c0,0,0,0.1-0.1,0.1
						c-0.1,0-0.1,0-0.2,0c0,0.1,0.1,0.3,0,0.4c-0.1,0.1-0.2,0.2-0.3,0.3c-0.3-0.1-0.5-0.2-0.8-0.3c-0.2,0-0.4,0-0.6,0
						c-0.2,0-0.3-0.2-0.4-0.3c0,0-0.1,0-0.1,0c-0.3,0.3-0.6,0.6-1,0.6c0,0,0,0,0-0.1l0,0c0.2-0.2,0.4-0.4,0.5-0.6
						c0.1-0.2,0.2-0.4,0.3-0.6c0,0,0-0.1,0-0.1l-0.1,0c-0.2,0.2-0.4,0.5-0.5,0.7c-0.2,0.2-0.4,0.3-0.6,0.2c0,0,0-0.1,0-0.1
						c0.9-0.6,1-1.6,1.2-2.5c0.2-0.6,0.3-1.2,0.8-1.7c0.7-0.8,1.5-1.3,2.3-1.9c0.1-0.1,0.2-0.2,0.4-0.2C72,10.6,72.3,10.7,72.5,10.9
						z M53.6,10.9c0.3,0.1,0.7,0.1,1,0.4c0.1,0.2,0.2,0.5,0,0.7c-0.2,0.4-0.6,0.5-0.8,0.9c-0.2,0.2-0.3,0.5-0.3,0.9
						c0.1,0.3,0.3,0.5,0.6,0.5c0.4,0,0.7-0.2,1.1-0.4c0.3-0.2,0.7-0.6,1.1-0.7c0.3-0.1,0.5,0,0.8-0.1c0.3-0.1,0.5-0.3,0.7-0.5
						c0.2-0.2,0.5-0.3,0.8-0.3c0.3,0.1,0.4-0.2,0.6-0.4c0.3-0.3,0.8-0.3,1.1-0.5c0.3-0.1,0.5-0.3,0.7-0.4c0.2-0.1,0.6-0.1,0.8,0
						c0.2,0.1,0.3,0.1,0.5,0.3l1.2,1c0,0,0.1,0.1,0.1,0.1c0.3,0.4,0.7,0.8,0.9,1.3c0.1,0.2,0.1,0.3,0.2,0.5c0.1,0.7,0.2,1.3,0.4,1.9
						c0.1,0.1,0.2,0.2,0.2,0.3c0.2,0.3,0.3,0.6,0.6,0.8l0.2,0.1c0,0,0,0,0,0.1l0,0c-0.4,0.1-0.6-0.2-0.8-0.4
						c-0.1-0.2-0.3-0.5-0.5-0.6c0,0,0,0,0,0c0,0.1,0.1,0.2,0.2,0.2c0.1,0.2,0.2,0.4,0.2,0.5c0,0.2,0.3,0.3,0.4,0.4l0.2,0.1
						c0,0,0,0.1,0,0.1l0,0c-0.4,0-0.7-0.1-1-0.4c-0.1-0.1-0.1-0.1-0.2-0.1c-0.2,0.2-0.3,0.3-0.6,0.3c-0.2,0-0.5,0-0.7,0.1
						c-0.2,0.1-0.4,0.2-0.6,0.2c-0.1,0-0.2-0.1-0.3-0.2c0-0.1-0.1-0.3,0-0.4l0.1-0.2c0,0,0-0.1-0.1-0.1c-0.1,0-0.2,0.1-0.2,0
						c0-0.2,0.2-0.4,0.4-0.5c0-0.2,0.1-0.3,0.2-0.5c0,0,0,0,0-0.1c-0.2,0-0.4,0.1-0.6,0.1c-0.2,0.1-0.4,0.1-0.5,0.1c0,0,0-0.1,0-0.1
						c0.2-0.3,0.3-0.6,0.2-1c0,0,0-0.1-0.1-0.1c0,0-0.1,0-0.1,0.1c-0.1,0.3-0.1,0.6-0.3,0.9c-0.1,0.1-0.3,0.1-0.5,0.2
						c0,0-0.1,0.1-0.1,0.1c0,0.1,0.1,0.2,0.1,0.3l0.4,0.7c0,0.2-0.1,0.4-0.1,0.6c0,0,0,0,0.1,0c0.1-0.1,0.2-0.3,0.3-0.5
						c0-0.1,0-0.2,0-0.2l-0.4-0.8c0-0.1,0.1,0,0.1-0.1c0.1,0,0.2,0,0.3,0.1c0.1,0.2,0.2,0.5,0.3,0.7c0,0.1,0.1,0.3,0,0.4
						c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.2,0.1-0.4,0.1h-0.1c-0.3,0.2-0.7,0.3-1.1,0.4c-0.2,0.1-0.3,0-0.5-0.1
						c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.3,0-0.4-0.1c-0.1-0.2-0.2-0.3-0.3-0.5c0,0,0-0.1,0-0.1c0.1,0,0.3-0.1,0.4-0.1
						c0.1,0,0.3,0,0.4,0.1c0.2,0.2,0.2,0.5,0.5,0.6c0.2,0,0.4-0.1,0.5-0.1c0.1-0.1,0.2-0.2,0.2-0.3c0-0.3-0.2-0.5-0.4-0.6
						c-0.2-0.1-0.4-0.3-0.6-0.5c-0.1-0.1-0.1-0.2-0.1-0.4c0,0-0.1,0-0.1,0c-0.1,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2
						C59.4,16,59.3,16,59.2,16c-0.3,0-0.6-0.1-0.9,0c-0.3,0-0.8,0.2-1-0.1c-0.1-0.3,0-0.7,0-1c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0
						c-0.1,0.3-0.1,0.7-0.2,1c-0.1,0.3-0.3,0.5-0.6,0.7c-0.2,0.1-0.5,0.2-0.8,0.2c-0.5,0-1,0.1-1.4,0.6c0,0-0.1,0.1-0.1,0.2
						c0,0,0.1,0,0.1,0c0.4-0.4,0.9-0.6,1.4-0.6c0.7,0,1,0,1.4-0.6c0.1-0.1,0.1-0.2,0.2-0.3c0.1,0,0.1,0.1,0.1,0.1
						c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.1,0.3-0.3,0.4c-0.2,0-0.3,0.2-0.5,0.3c-0.2,0.1-0.4,0.1-0.5,0.1c-0.2,0-0.5-0.1-0.8,0
						c-0.1,0.1-0.2,0.2-0.3,0.3c-0.2,0.1-0.3,0.2-0.5,0.2c-0.1,0-0.3-0.1-0.4,0c-0.1,0.1-0.2,0.4-0.4,0.5c-0.2,0.1-0.4,0-0.7,0
						c0-0.2,0.1-0.4,0.2-0.6c0.1,0,0.2,0,0.2-0.1c0.1-0.1,0.2-0.2,0.2-0.3c0.2-0.1,0.4-0.2,0.5-0.4c0.1-0.2,0.1-0.4,0.2-0.5l0.1,0
						l0.4,0c0.2-0.1,0.3-0.1,0.4-0.3c0-0.1,0.1-0.1,0-0.2c-0.1-0.2-0.1-0.3-0.2-0.5c0-0.2,0-0.4,0-0.7c0,0,0-0.1-0.1-0.1
						c-0.3,0.1-0.5,0.1-0.8,0.1c-0.4-0.1-0.8-0.3-0.9-0.7C53,13.5,53,13,53.3,12.8c0.2-0.3,0.5-0.5,0.8-0.8c0,0,0.1-0.1,0.1-0.1
						c0-0.1-0.1-0.1-0.1-0.1c-0.2,0-0.4,0-0.5-0.1c-0.3-0.1-0.5-0.4-0.6-0.7c0-0.1,0-0.3,0.1-0.4C53.2,10.7,53.4,10.8,53.6,10.9z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M62.2,13.2L62.2,13.2L62.2,13.2C62.1,13.2,62.1,13.2,62.2,13.2L62.2,13.2L62.2,13.2
						C62,13,62,12.8,61.9,12.6c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0-0.1-0.1-0.1,0-0.2l0,0c0,0,0.1,0,0.2,0l0,0
						c0.1,0.1,0.1,0.2,0.2,0.2C62.2,12.6,62.2,12.9,62.2,13.2"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M64.7,15.2C64.6,15.2,64.6,15.2,64.7,15.2C64.6,15.2,64.6,15.3,64.7,15.2c0,0.1-0.1,0.2-0.1,0.2
						c-0.1,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0,0,0-0.1-0.1-0.1c0,0,0-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1
						c0,0-0.1,0-0.1,0.1c0,0,0,0,0,0.1l0,0.1c0,0-0.1,0-0.1,0l0,0l0,0c0-0.1,0-0.2,0-0.2c0-0.1,0.1-0.1,0.1-0.2l0,0c0,0,0,0,0-0.1
						c0,0,0-0.1,0-0.1c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0.1,0.1,0.2c0,0,0,0.1,0,0.1c0,0,0,0,0.1,0.1C64.6,14.7,64.7,14.9,64.7,15.2
						"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M64,16.6L64,16.6L64,16.6c-0.1,0-0.2,0.1-0.3,0h0h0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0-0.1
						c0-0.1,0.2-0.3,0.3-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0.1C64.1,16.4,64.1,16.5,64,16.6"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M71.7,12C71.7,12,71.7,12,71.7,12L71.7,12c-0.2,0.2-0.3,0.3-0.4,0.4c-0.1,0.1-0.2,0.2-0.3,0.3
						C71.1,12.8,71,12.9,71,13c0,0,0,0-0.1,0l0,0l0,0c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0.1-0.2c0.1-0.3,0.3-0.6,0.6-0.8
						c0,0,0.2-0.1,0.2,0C71.8,11.9,71.8,12,71.7,12"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M69.7,14.8C69.8,14.9,69.8,14.9,69.7,14.8c0,0.1,0,0.1,0,0.1c0,0,0,0-0.1,0.1c0,0-0.1,0-0.1,0
						c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0l0,0c0,0,0-0.1-0.1-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0-0.1,0.1-0.1,0.1
						c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1-0.1,0.1c-0.1,0-0.1,0-0.1-0.1
						c0-0.2,0.1-0.5,0.2-0.6c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.2,0.2-0.3l0,0c0.1,0,0.2,0.1,0.2,0.1
						C69.6,14.6,69.7,14.7,69.7,14.8"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M69.6,16.6c0,0,0,0.1,0,0.1l0,0l0,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0h0v0c-0.1-0.1-0.1-0.2-0.1-0.3
						c0,0,0-0.1,0-0.1l0,0h0c0.1,0,0.2,0,0.3,0.1v0C69.6,16.5,69.6,16.5,69.6,16.6"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M61.7,27.4c0-0.7,0.5-1.3,1.1-1.3c0.6,0,1.1,0.6,1.1,1.3c0,0.7-0.5,1.3-1.1,1.3
						C62.2,28.7,61.7,28.1,61.7,27.4"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M70.6,28.5h-1.5l0-5.2l1,0c0.4,0,0.8,0.4,0.8,0.8c0,0.5-0.4,0.8-0.8,0.8h-0.5v1.4l1,0c0.5,0,1,0.5,1,1
						C71.5,28.1,71.2,28.5,70.6,28.5"/>
				</g>
			</g>
		</g>
		<g>
			<g>
				<g>
					<path fill="#20275B" d="M65.1,64.6c-3.9,0-7.9,0.1-11.8,0.1l3.4,3.4c2.8-0.1,5.6-0.1,8.4-0.1c0.3,0,0.7,0,1,0v-3.5
						C65.8,64.6,65.4,64.6,65.1,64.6z"/>
				</g>
				<g>
					<path fill="#0D113A" d="M66.2,68c0.3,0,0.7,0,1,0c2.8,0,5.6,0,8.4,0.1l3.4-3.4c-3.9-0.1-7.9-0.1-11.8-0.1c-0.4,0-0.7,0-1.1,0
						c0,0,0,0,0,0L66.2,68C66.2,68,66.2,68,66.2,68z"/>
				</g>
				<g>
					<path fill="#626467" d="M77.7,68.1c2.1,0,4.1,0.1,6.2,0.2l4.9-3.3c-1.9-0.1-3.8-0.2-5.7-0.2L77.7,68.1z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M49.3,64.8c-1.9,0.1-3.8,0.1-5.7,0.2l4.9,3.3c2.1-0.1,4.1-0.1,6.2-0.2L49.3,64.8z"/>
				</g>
				<path fill="#0D113A" d="M53.3,64.7c-1.3,0-2.6,0.1-3.9,0.1c0,0,0,0,0,0l5.3,3.3c0,0,0,0,0,0c0.7,0,1.3,0,2,0L53.3,64.7z"/>
				<g>
					<path fill="#20275B" d="M77.7,68.1C77.7,68.1,77.7,68.1,77.7,68.1l5.3-3.3c0,0,0,0,0,0L77.7,68.1z"/>
				</g>
				<path fill="#20275B" d="M79.1,64.7l-3.4,3.4c0.7,0,1.3,0,2,0l5.3-3.3C81.7,64.8,80.4,64.7,79.1,64.7z"/>
				<g>
					<path fill="#A81D39" d="M89.4,65.1c-0.2,0-0.5,0-0.7,0l-4.9,3.3c0.2,0,0.5,0,0.7,0c0.2,0,0.5,0,0.7,0l4.8-3.3
						C89.9,65.1,89.6,65.1,89.4,65.1z"/>
				</g>
				<g>
					<path fill="#A81D39" d="M43.6,65c-0.2,0-0.5,0-0.7,0c-0.2,0-0.5,0-0.7,0l4.8,3.3c0.2,0,0.5,0,0.7,0c0.2,0,0.4,0,0.7,0L43.6,65z
						"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#690A1B" d="M66.2,65.7c-9.7,0-19.4,0.2-29,0.8l1.5,1.1c9.2-0.5,18.4-0.8,27.6-0.8c9.2,0,18.4,0.2,27.6,0.8l1.5-1.1
						C85.5,66,75.9,65.7,66.2,65.7z"/>
				</g>
				<g>
					<path fill="#A81D39" d="M95.2,66.5l-1.5,1.1c0.3,0.6,0.6,1.2,0.9,1.8l1.5-1C95.8,67.8,95.5,67.2,95.2,66.5z"/>
				</g>
				<g>
					<path fill="#690A1B" d="M96.1,68.5l-1.5,1c0.5,0,1.1,0.1,1.6,0.1l1.6-1C97.3,68.5,96.7,68.5,96.1,68.5z"/>
				</g>
				<g>
					<path fill="#A81D39" d="M37.1,66.5c-0.3,0.6-0.6,1.3-0.9,1.9l1.5,1c0.3-0.6,0.6-1.2,0.9-1.8L37.1,66.5z"/>
				</g>
				<g>
					<path fill="#690A1B" d="M36.2,68.5c-0.6,0-1.1,0.1-1.7,0.1l1.6,1c0.5,0,1.1-0.1,1.6-0.1L36.2,68.5z"/>
				</g>
			</g>
			<g>
				<g>
					<g>
						<path fill="#DF1D4E" d="M93.4,54.4c-9.1-0.5-18.1-0.8-27.2-0.8c-9.1,0-18.1,0.2-27.2,0.8l-4.4,14.1c0.6,0,1.1-0.1,1.7-0.1
							c0.3-0.6,0.6-1.3,0.9-1.9c9.7-0.6,19.4-0.8,29-0.8c9.7,0,19.4,0.2,29,0.8c0.3,0.6,0.6,1.3,0.9,1.9c0.6,0,1.1,0.1,1.7,0.1
							L93.4,54.4z"/>
					</g>
					<g>
						<g>
							<path fill="#FFFFFF" d="M42.6,54.9c-1,0.1-2.1,0.1-3.1,0.2l-2,6.5l2.3-6.1L42.6,54.9z"/>
						</g>
						<g>
							<path fill="#FFFFFF" d="M89.7,54.9c1,0.1,2.1,0.1,3.1,0.2l2,6.5l-2.3-6.1L89.7,54.9z"/>
						</g>
					</g>
				</g>
			</g>
			<g>
				<path fill="#690A1B" d="M59.7,58.8c-0.2,0-0.5,0-0.7,0l-0.2,0.3l-0.1,0.8c0.4,0,0.8,0,1.2,0l0.1-0.8
					C59.8,59,59.8,58.9,59.7,58.8z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M49.9,59.8c-0.1-0.2-0.3-0.4-0.4-0.5l-0.4,0l0.7,1l0.1,0l-0.3,1.4L49.9,59.8z"/>
			</g>
			<g>
				<polygon fill="#690A1B" points="49,59.2 48.7,59.5 49.4,60.5 49.7,60.3 				"/>
			</g>
			<g>
				<path fill="#A81D39" d="M49.1,62l0.3-1.5l-0.7-1l-0.6,2.7c0,0.1,0.1,0.1,0.1,0.2l0.3,0c0.3-0.2,0.6-0.4,0.9-0.7
					C49.3,61.8,49.2,61.9,49.1,62z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M54.4,58.1C54.4,58.1,54.5,58.1,54.4,58.1l-0.2-0.6l0,0.1C54.3,57.8,54.4,58,54.4,58.1z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M46.4,63.3c0.2,0.2,0.3,0.4,0.5,0.7c-0.2-0.3-0.5-0.6-0.7-0.9l0-0.1l0.2-1c0-1.7,0-3.3,0-5l0-0.2
					l-0.8-1.2l0,0.2c0,2.7,0,5.4,0.1,8l0,0.2l0.8,0.9l0-0.2C46.4,64.3,46.4,63.8,46.4,63.3z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M45.6,64l-0.2,0c-0.6,0-1.2,0.1-1.9,0.1l-0.2,0l0.9,0.8l0.2,0c0.6,0,1.2-0.1,1.8-0.1l0.2,0L45.6,64z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M43.5,62.5c-0.6,0-1.2,0.1-1.7,0.1l1,0.9c0.3,0,0.5,0,0.8,0C43.4,63.6,43.4,63,43.5,62.5z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M41.7,62.6c-0.3,0.5-0.6,1.1-0.9,1.6l0,0.1l1,0.8l0-0.1c0.3-0.5,0.6-1,0.8-1.6L41.7,62.6z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M40.8,64.3L40.8,64.3c-0.6,0-1.2,0.1-1.7,0.1l-0.3,0l1.1,0.8l0.3,0c0.5,0,1-0.1,1.6-0.1l0.1,0L40.8,64.3
					z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M43.6,60.7c0-0.8,0.1-1.5,0.1-2.3c-0.4,0.8-0.8,1.6-1.2,2.4C42.9,60.7,43.3,60.7,43.6,60.7z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M81.9,58.1c0,0.8,0,1.6-0.1,2.3c0.3,0,0.7,0,1,0C82.6,59.6,82.2,58.8,81.9,58.1z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M90.3,60.5l-1.4-4.7l-0.8,1.1C88.8,58.1,89.5,59.3,90.3,60.5z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M71,59l-0.2-0.3c-0.3,0-0.7,0-1,0l-0.1,1.1l1.4-0.2L71,59z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M69.3,59.2l-0.1,0.1l0,0.3l0.5,0.2l0.1-1.1C69.6,58.9,69.5,59.1,69.3,59.2z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M69.2,59.3l-0.1-0.1c-0.3-0.3-0.6-0.6-0.9-0.9l-0.1-0.1L68,59.3c0,0,0.5,0.5,0.7,0.7
					c0.1-0.1,0.2-0.2,0.3-0.3l0.1-0.1l0.1,0c0,0,0.1,0,0.1,0"/>
			</g>
			<g>
				<path fill="#690A1B" d="M71.2,61.5l0-0.4c-0.4,0-0.7,0-1.1,0l-0.2,0.2l0,0.6c0.1,0.1,0.2,0.2,0.2,0.3c0,0,0-0.1-0.1-0.1
					c0.1,0,0.3,0,0.4,0c0,0-0.1,0-0.1,0.1C70.7,61.9,70.9,61.7,71.2,61.5z"/>
			</g>
			<g>
				<line fill="#690A1B" x1="59" y1="58.8" x2="58.7" y2="59.1"/>
			</g>
			<g>
				<path fill="#A81D39" d="M58.6,59.8c0.1,0,0.2,0,0.3,0l-0.2-0.8L58.6,59.8z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M59.7,58.8"/>
			</g>
			<g>
				<path fill="#690A1B" d="M59.7,58.8c-0.2,0-0.5,0-0.7,0l0.3,1.1c0.2,0,0.5,0,0.7,0L59.7,58.8z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M58.7,59.1l0.2,0.8c0.1,0,0.2,0,0.3,0l-0.3-1L58.7,59.1z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M61.7,62.5l-0.1,0.1c-0.3,0.3-0.6,0.6-0.9,0.9l0,0.1l0.2,0.9l0,0c0.3-0.3,0.6-0.6,0.9-0.9l0.1-0.1
					L61.7,62.5z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M60.6,63.6L60.6,63.6c-1.1,0-2.1,0-3.1,0.1l-0.1,0l0.3,0.9l0.1,0c1,0,1.9,0,2.9,0l0.1,0L60.6,63.6z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M57.5,63.7L57.5,63.7c-0.3-0.4-0.6-0.7-0.9-1l0-0.1l0.4,0.9l0,0.1c0.3,0.3,0.5,0.6,0.8,0.9l0,0.1
					L57.5,63.7z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M81.9,62.2c0,0.3,0,0.6-0.1,1c0.4,0,0.7,0,1.1,0l0.7-0.9C83,62.2,82.5,62.2,81.9,62.2z"/>
			</g>
			<g>
				<g>
					<path fill="#A81D39" d="M85.5,61.8L85.5,61.8c-0.1-0.2-0.2-0.4-0.3-0.6C85.3,61.4,85.4,61.6,85.5,61.8z"/>
				</g>
				<g>
					<path fill="#A81D39" d="M84.4,63.9L84.4,63.9c-0.3-0.6-0.5-1.2-0.8-1.7l-0.7,0.9c0.2,0.5,0.5,1,0.7,1.5l0,0.1"/>
				</g>
				<g>
					<path fill="#690A1B" d="M86.4,64c-0.6,0-1.2-0.1-1.9-0.1l-0.1,0l-0.7,0.9l0.1,0c0.6,0,1.2,0.1,1.8,0.1l0.3,0l0.4-0.4l0.5-0.5
						L86.4,64z"/>
				</g>
				<g>
					<path fill="#A81D39" d="M85,55.6l-0.7,1.2l1.3,5.1c0.3,0.7,0.7,1.3,1,2l0.1,0.3l-0.5,0.5l0.1,0.4l0.8-0.9L85,55.6z"/>
				</g>
				<g>
					<path fill="#690A1B" d="M88.7,64.2c-0.5,0-1-0.1-1.5-0.1l-0.1,0l-0.8,0.9l0.1,0c0.5,0,0.9,0,1.4,0.1l0.2,0l0.9-0.8L88.7,64.2z"
						/>
				</g>
			</g>
			<g>
				<path fill="#A81D39" d="M90.6,64.2c-1-1.6-2-3.2-2.9-4.8l1.3,4.7l-0.1-0.4c0.3,0.4,0.5,0.9,0.8,1.3l0,0.1L90.6,64.2L90.6,64.2z"
					/>
			</g>
			<g>
				<path fill="#690A1B" d="M93,64.4c-0.7,0-1.5-0.1-2.2-0.1l-0.1,0l-1,0.8l0.1,0c0.7,0,1.4,0.1,2.2,0.1l0.2,0l1.1-0.8L93,64.4z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M83.4,57.4c0.1,0.2,0.2,0.4,0.3,0.6C83.6,57.8,83.5,57.6,83.4,57.4z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M84.3,59.2c0.1,0.2,0.2,0.5,0.3,0.7C84.5,59.7,84.4,59.5,84.3,59.2z"/>
			</g>
			<g>
				<polygon fill="#A81D39" points="73.3,55.1 73,56.3 73.8,64.5 74.1,63.6 				"/>
			</g>
			<g>
				<path fill="#690A1B" d="M79.2,63.7c-1.6-0.1-3.3-0.1-4.9-0.1l-0.2,0l-0.3,0.9l0.1,0c1.6,0,3.2,0.1,4.7,0.1l0.2,0l0.5-0.8l0,0
					L79.2,63.7z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M79.9,56.5l0,0.2c-0.1,2.3-0.3,4.6-0.5,6.9l-0.3-1.9l0.3,2l0,0c0,0.2,0,0.4-0.1,0.7l0,0.2l0.5-0.9l0-0.2
					c0.3-2.7,0.5-5.4,0.6-8.1l0-0.2L79.9,56.5z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M81.6,63.8c-0.5,0-1.1,0-1.6-0.1l-0.2,0l-0.5,0.9l0.2,0c0.5,0,1,0,1.6,0.1l0.2,0l0.6-0.9L81.6,63.8z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M65.7,63.5l-0.2,0l0,0.9l0.2,0c0.5,0,1,0,1.5,0l0.2,0l0.1-0.9l-0.2,0C66.7,63.5,66.2,63.5,65.7,63.5z"/>
			</g>
			<g>
				<polygon fill="#A81D39" points="61.7,58.4 61.5,61.2 61.7,62.2 61.9,59.5 				"/>
			</g>
			<g>
				<path fill="#A81D39" d="M58.5,61.2L58.5,62l0.2,0.2c0.1,0,0.1,0,0.2,0L58.5,61.2z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M61.5,61.2l-0.2,0c-1,0-1.9,0-2.9,0l0.3,0.9l2.9,0L61.5,61.2z"/>
			</g>
			<g>
				<polygon fill="#A81D39" points="56.5,57.4 56.2,59.3 56.6,60.3 56.8,58.6 				"/>
			</g>
			<g>
				<path fill="#690A1B" d="M56.2,59.3l-0.1,0c-0.3,0-0.7,0-1,0l0.4,1c0.3,0,0.7,0,1,0l0.1,0L56.2,59.3z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M55,59.3c-0.2,0.2-0.5,0.4-0.7,0.6l0.5,1c0.2-0.2,0.5-0.4,0.7-0.6L55,59.3z"/>
			</g>
			<g>
				<polygon fill="#A81D39" points="54.3,59.9 53.8,63.7 54.3,64.6 54.8,60.9 				"/>
			</g>
			<g>
				<path fill="#690A1B" d="M53.8,63.7l-0.1,0c-0.5,0-1,0-1.5,0l-0.2,0l0.6,0.9l0.2,0c0.5,0,1,0,1.5,0l0.1,0L53.8,63.7z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M73,63.6c-0.4,0-0.7,0-1.1,0l-0.1,0l-0.2,0.9l0.1,0c0.4,0,0.7,0,1.1,0l0.2,0l0.3-0.9L73,63.6z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M71.7,63.5c-0.1-0.2-0.2-0.4-0.3-0.6c-0.2,0.2-0.5,0.4-0.7,0.7l0,0l-0.2,0.9l0,0
					c0.2-0.2,0.5-0.4,0.7-0.6c0.1,0.2,0.2,0.4,0.3,0.6l0,0.1L71.7,63.5L71.7,63.5z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M70.6,63.6c-0.5,0-0.9,0-1.4,0l-0.1,0L69,64.5l0.1,0c0.4,0,0.9,0,1.3,0l0.1,0L70.6,63.6L70.6,63.6z"/>
			</g>
			<g>
				<path fill="#A81D39" d="M69.1,63.6c-0.3-0.3-0.6-0.7-0.9-1l0,0l0-1.8l-0.1,1l0,1.7l0,0c0.3,0.3,0.6,0.6,0.9,0.9l0,0L69.1,63.6
					L69.1,63.6z"/>
			</g>
			<g>
				<polygon fill="#690A1B" points="65.5,59.1 65.3,58.9 65,58.9 65.1,59.9 65.4,59.9 65.5,60.1 65.5,63.5 				"/>
			</g>
			<g>
				<path fill="#690A1B" d="M65,58.9c-0.2,0.2-0.5,0.4-0.7,0.6l0.1,1c0.2-0.2,0.5-0.4,0.7-0.6L65,58.9z"/>
			</g>
			<g>
				<polygon fill="#A81D39" points="64.3,59.5 64.2,63.5 64.3,64.4 64.4,60.5 				"/>
			</g>
			<g>
				<path fill="#690A1B" d="M64.2,63.5l-0.2,0c-0.5,0-1,0-1.5,0l-0.2,0l0.1,0.9l0.2,0c0.5,0,1,0,1.5,0l0.2,0L64.2,63.5z"/>
			</g>
			<g>
				<polygon fill="#A81D39" points="52.4,55.3 50.9,63.8 51.5,64.7 53,56.5 				"/>
			</g>
			<g>
				<path fill="#690A1B" d="M50.9,63.8l-0.1,0c-0.4,0-0.7,0-1.1,0l-0.1,0l0.3,0.4l0.4,0.5l0.1,0c0.4,0,0.7,0,1.1,0l0.1,0L50.9,63.8z
					"/>
			</g>
			<g>
				<path fill="#A81D39" d="M49.5,63.9l0-0.1c0-0.2-0.1-0.3-0.1-0.5c-0.3,0.2-0.6,0.5-0.9,0.7l0,0l0.7,0.9l0,0
					c0.2-0.2,0.4-0.4,0.7-0.5L49.5,63.9z"/>
			</g>
			<g>
				<path fill="#690A1B" d="M48.4,64L48.4,64c-0.5,0-1,0-1.4,0.1l-0.1,0l0.8,0.9l0.1,0c0.4,0,0.9,0,1.3-0.1l0.1,0L48.4,64z"/>
			</g>
			<g>
				<g>
					<path fill="#FFFFFF" d="M78.9,61.8c-1,0-2-0.1-3-0.1l-0.8-6.5l-0.1,0c-0.5,0-1,0-1.5,0l-0.2,0l0.8,8.5l0.2,0
						c1.6,0,3.3,0.1,4.9,0.1l0.2,0l-0.3-2L78.9,61.8z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M55.2,57.5L55.2,57.5l-0.1,0c-0.2,0.2-0.5,0.4-0.7,0.6c0-0.2-0.1-0.3-0.1-0.5l0-0.1l-0.1,0
						c-0.3,0-0.7,0-1,0l-0.1,0l-1,6.2l0.2,0c0.5,0,1,0,1.5,0l0.1,0l0.6-3.8c0.2-0.2,0.5-0.4,0.7-0.6c0.3,0,0.7,0,1,0l0.1,0l0.2-1.8
						l-0.2,0C55.9,57.5,55.6,57.5,55.2,57.5z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M52.2,55.3c-0.5,0-0.9,0-1.4,0.1l-0.1,0l-0.5,2.8c-0.1-0.2-0.2-0.3-0.3-0.5l-0.1-0.1l-0.1,0
						c-0.5,0-0.9,0-1.4,0.1l-0.1,0l0,0c-0.4,0.3-0.7,0.7-1.1,1l0,0l-1,4.2l0,0.1c0.2,0.3,0.4,0.6,0.7,0.9l0.1,0.1l0.1,0
						c0.5,0,0.9,0,1.4-0.1l0.1,0l0,0c0.3-0.2,0.6-0.5,0.9-0.7c0,0.2,0.1,0.3,0.1,0.5l0,0.1l0.1,0c0.4,0,0.7,0,1.1,0l0.1,0l1.5-8.5
						L52.2,55.3z M49.5,61.7c-0.3,0.2-0.6,0.4-0.9,0.7l-0.3,0c0-0.1-0.1-0.1-0.1-0.2l0.6-2.7l0.3-0.3l0.4,0c0.1,0.2,0.3,0.4,0.4,0.5
						L49.5,61.7z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M45.5,55.8l0-0.2l-0.2,0c-0.6,0-1.2,0.1-1.8,0.1l-0.1,0l0,0.1c-1.4,2.8-2.9,5.5-4.5,8.3l-0.2,0.3l0.3,0
						c0.5,0,1.1-0.1,1.6-0.1l0.1,0l0-0.1c0.3-0.5,0.6-1.1,0.9-1.6c0.6,0,1.2-0.1,1.7-0.1c0,0.5,0,1,0,1.5l0,0.2l0.2,0
						c0.6,0,1.2-0.1,1.9-0.1l0.2,0l0-0.2C45.5,61.2,45.5,58.5,45.5,55.8z M43.6,60.7c-0.3,0-0.7,0-1,0.1c0.4-0.8,0.8-1.6,1.2-2.4
						C43.7,59.2,43.7,59.9,43.6,60.7z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M90.6,55.9l-0.1,0c-0.4,0-0.9-0.1-1.3-0.1l-0.2,0l1.4,4.7c-1-1.6-2-3.2-2.9-4.8l0-0.1l-0.1,0
						c-0.7,0-1.4-0.1-2-0.1l-0.2,0l2.1,8.5l0.1,0c0.5,0,1,0.1,1.5,0.1l0.2,0l-1.3-4.7c0.9,1.6,1.9,3.2,2.9,4.8l0,0.1l0.1,0
						c0.7,0,1.5,0.1,2.2,0.1l0.2,0L90.6,55.9z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M72.7,58.4c-0.3-0.3-0.6-0.7-0.9-1l0-0.1l-0.1,0c-0.9,0-1.8,0-2.6,0l-0.1,0l-0.1,0.1
						c-0.2,0.3-0.4,0.5-0.7,0.8l-0.1,0.1l0.1,0.1c0.3,0.3,0.6,0.6,0.9,0.9l0.1,0.1l0.1-0.1c0.2-0.2,0.3-0.3,0.5-0.5c0.3,0,0.7,0,1,0
						L71,59l0,0.6c-0.7,0-1.3,0-2,0l-0.1,0l-0.1,0.1c-0.3,0.3-0.6,0.6-0.8,1l0,0.1l0,1.8l0,0c0.3,0.3,0.6,0.7,0.9,1l0,0.1l0.1,0
						c0.5,0,0.9,0,1.4,0l0.1,0l0,0c0.2-0.2,0.5-0.4,0.7-0.7c0.1,0.2,0.2,0.4,0.3,0.6l0,0.1l0.1,0c0.4,0,0.7,0,1.1,0l0.2,0L72.7,58.4
						L72.7,58.4z M70.4,62.1l-0.3,0C70.1,62,70,62,69.9,61.9l0-0.6l0.2-0.2c0.4,0,0.7,0,1.1,0l0,0.4C70.9,61.7,70.7,61.9,70.4,62.1z
						"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M67.2,58.3c-0.3-0.3-0.6-0.7-0.9-1l-0.1-0.1h-0.1c-0.4,0-0.9,0-1.3,0l-0.1,0l0,0
						c-0.2,0.2-0.5,0.4-0.7,0.7c-0.1-0.2-0.1-0.4-0.2-0.5l0-0.1l-0.1,0c-0.3,0-0.7,0-1,0l-0.2,0l-0.3,6.2l0.2,0c0.5,0,1,0,1.5,0
						l0.2,0l0.1-4.1c0.2-0.2,0.5-0.4,0.7-0.6l0.3,0l0.2,0.2l0,4.4l0.2,0c0.5,0,1,0,1.5,0l0.2,0L67.2,58.3L67.2,58.3z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M82.5,55.5L82.5,55.5l-0.1-0.1c-0.6,0-1.2-0.1-1.8-0.1l-0.2,0l0,0.2c-0.1,2.7-0.3,5.4-0.6,8.1l0,0.2
						l0.2,0c0.5,0,1.1,0,1.6,0.1l0.2,0l0-0.2c0-0.5,0.1-1,0.1-1.5c0.6,0,1.2,0,1.7,0.1c0.2,0.5,0.5,1.1,0.7,1.6l0,0.1l0.1,0
						c0.6,0,1.2,0.1,1.9,0.1l0.3,0l-0.1-0.3C85.1,61,83.8,58.3,82.5,55.5z M81.9,60.4c0-0.8,0-1.5,0.1-2.3c0.3,0.8,0.6,1.6,1,2.4
						C82.6,60.4,82.2,60.4,81.9,60.4z"/>
				</g>
				<g>
					<path fill="#FFFFFF" d="M61.4,61.2l0.2,0l0.2-2.8l0-0.1c-0.3-0.3-0.5-0.6-0.8-1l-0.1-0.1l-0.1,0c-0.9,0-1.7,0-2.6,0l-0.1,0
						l0,0.1c-0.3,0.3-0.6,0.7-1,1l0,0l-0.5,4.2l0,0.1c0.3,0.3,0.5,0.6,0.8,1l0.1,0.1l0.1,0c1,0,2,0,3-0.1l0.1,0l0-0.1
						c0.3-0.3,0.6-0.6,0.9-0.9l0.1-0.1l-0.1-0.1c-0.3-0.3-0.6-0.5-0.9-0.8l-0.1-0.1l-0.1,0.1c-0.2,0.2-0.3,0.4-0.5,0.6
						c-0.4,0-0.8,0-1.2,0L58.5,62l0.1-0.7C59.5,61.2,60.4,61.2,61.4,61.2z M58.7,59.1l0.2-0.3c0.2,0,0.5,0,0.7,0
						c0.1,0.1,0.1,0.2,0.2,0.2l-0.1,0.8c-0.4,0-0.8,0-1.2,0L58.7,59.1z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#FFF3D1" d="M75.6,60.4c-0.2-1.7-0.4-3.3-0.6-5c-0.5,0-1,0-1.5,0c0.2,1.7,0.3,3.3,0.5,5
						C74.5,60.3,75,60.4,75.6,60.4z"/>
				</g>
				<g>
					<path fill="#FFF3D1" d="M85,61.1c-0.9-1.8-1.8-3.7-2.6-5.5c-0.6,0-1.2-0.1-1.8-0.1c-0.1,1.7-0.2,3.4-0.3,5.1
						C81.9,60.8,83.5,60.9,85,61.1z M81.8,57.4C81.8,57.4,81.8,57.4,81.8,57.4c0.5,1.1,0.9,2.1,1.4,3.2c-0.5,0-1,0-1.5-0.1
						C81.7,59.5,81.8,58.4,81.8,57.4z"/>
				</g>
				<g>
					<path fill="#FFF3D1" d="M88.1,61.5c-0.3-1.1-0.6-2.1-0.9-3.2c0.7,1.1,1.3,2.3,2,3.4c1.1,0.2,2.1,0.4,3.1,0.5
						c-0.6-2.1-1.3-4.1-1.9-6.2C90,56,89.6,56,89.1,56c0.6,1.9,1.1,3.8,1.7,5.7c-1.2-1.9-2.4-3.9-3.5-5.8c-0.7,0-1.4-0.1-2-0.1
						c0.5,1.9,0.9,3.7,1.4,5.6C87.1,61.4,87.6,61.4,88.1,61.5z"/>
				</g>
			</g>
			<g>
				<path fill="#FFFFFF" d="M69.7,58.6c0.4,0,0.7,0,1.1,0c0.1,0.1,0.2,0.2,0.3,0.4c0,0.3,0,0.6,0.1,0.9c-0.7,0-1.4,0-2.2,0
					c-0.1,0.1-0.2,0.2-0.3,0.4c1.3,0,2.7,0,4,0.1c0-0.6-0.1-1.2-0.1-1.8c-0.3-0.3-0.6-0.7-0.9-1c-0.9,0-1.8,0-2.6,0
					c-0.2,0.3-0.4,0.5-0.7,0.8c0.3,0.3,0.6,0.6,0.9,0.9C69.4,58.9,69.5,58.8,69.7,58.6z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M48.2,61c0.1-0.5,0.2-1,0.3-1.6c0.1-0.1,0.2-0.2,0.4-0.4c0.2,0,0.4,0,0.6,0c0.2,0.2,0.4,0.4,0.5,0.7
					c-0.1,0.4-0.1,0.8-0.2,1.1c0.5,0,1-0.1,1.5-0.1c0.3-1.7,0.6-3.5,0.9-5.2c-0.5,0-0.9,0-1.4,0.1c-0.2,1-0.4,2-0.6,3
					c-0.2-0.3-0.4-0.5-0.6-0.8c-0.5,0-0.9,0-1.4,0.1c-0.4,0.3-0.7,0.7-1.1,1c-0.2,0.8-0.4,1.5-0.5,2.3C47.2,61.1,47.7,61,48.2,61z"
					/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M61.4,60.2c0-0.6,0.1-1.2,0.1-1.8c-0.3-0.3-0.5-0.6-0.8-1c-0.9,0-1.7,0-2.6,0c-0.3,0.3-0.6,0.7-1,1
					c-0.1,0.6-0.1,1.2-0.2,1.8C58.4,60.3,59.9,60.2,61.4,60.2z M58.6,59c0.1-0.1,0.2-0.2,0.3-0.4c0.3,0,0.6,0,0.9,0
					c0.1,0.1,0.2,0.2,0.3,0.3c0,0.3-0.1,0.7-0.1,1c-0.5,0-1,0-1.5,0C58.5,59.7,58.5,59.3,58.6,59z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M64.1,60.2c0-0.3,0-0.5,0-0.8c0.3-0.2,0.6-0.5,0.8-0.7c0.1,0,0.3,0,0.4,0c0.1,0.1,0.2,0.2,0.3,0.3
					c0,0.4,0,0.7,0,1.1c0.1,0,0.2,0,0.4,0c0.4,0,0.7,0,1.1,0c0-0.6,0-1.2,0-1.7c-0.3-0.3-0.6-0.7-0.9-1c-0.4,0-0.9,0-1.3,0
					c-0.3,0.3-0.6,0.6-0.9,0.8c-0.1-0.3-0.2-0.5-0.3-0.8c-0.3,0-0.7,0-1,0c0,0.9-0.1,1.8-0.1,2.7C63.1,60.2,63.6,60.2,64.1,60.2z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M54.1,60.5c0-0.2,0.1-0.5,0.1-0.7c0.3-0.2,0.5-0.5,0.8-0.7c0.4,0,0.7,0,1.1,0c0.1-0.5,0.1-1,0.2-1.5
					c-0.3,0-0.7,0-1,0c-0.3,0.3-0.6,0.5-0.9,0.8c-0.1-0.3-0.1-0.5-0.2-0.8c-0.3,0-0.7,0-1,0c-0.2,1-0.3,1.9-0.5,2.9
					C53.1,60.6,53.6,60.5,54.1,60.5z"/>
			</g>
			<g>
				<path fill="#FFFFFF" d="M45.4,61.3c0-1.8,0-3.7,0-5.5c-0.6,0-1.2,0.1-1.8,0.1c-1.1,2.1-2.2,4.1-3.3,6.2
					C41.8,61.8,43.5,61.6,45.4,61.3z M43.9,57.7C43.9,57.7,43.9,57.7,43.9,57.7c0,1-0.1,2.1-0.1,3.1c-0.5,0-1,0.1-1.5,0.1
					C42.8,59.9,43.4,58.8,43.9,57.7z"/>
			</g>
			<g>
				<g>
					<path fill="#CFD1D2" d="M54.1,60.5c-0.5,0-1,0.1-1.5,0.1c-0.2,1-0.3,2-0.5,3c0.5,0,1,0,1.5,0C53.8,62.5,53.9,61.5,54.1,60.5z"
						/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M56.7,62.5c0.3,0.3,0.5,0.6,0.8,1c1,0,2,0,3-0.1c0.3-0.3,0.6-0.6,0.9-0.9c-0.3-0.3-0.6-0.5-0.9-0.8
						c-0.2,0.2-0.4,0.4-0.6,0.6c-0.5,0-0.9,0-1.4,0c-0.1-0.1-0.2-0.2-0.3-0.3c0-0.3,0.1-0.6,0.1-0.9c1,0,2,0,3,0c0-0.3,0-0.5,0-0.8
						c-1.5,0-3,0.1-4.4,0.2C56.9,61.1,56.8,61.8,56.7,62.5z"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M64.1,60.2c-0.5,0-1,0-1.5,0c0,1.1-0.1,2.1-0.1,3.2c0.5,0,1,0,1.5,0C64.1,62.3,64.1,61.2,64.1,60.2z"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M41.6,62.4c0.7,0,1.3-0.1,2-0.1c0,0.6,0,1.1,0,1.7c0.6,0,1.2-0.1,1.9-0.1c0-0.9-0.1-1.7-0.1-2.6
						c-1.9,0.2-3.6,0.5-5.1,0.8c-0.4,0.7-0.8,1.4-1.2,2.1c0.5,0,1.1-0.1,1.6-0.1C41,63.6,41.3,63,41.6,62.4z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M90.8,64.1c0.7,0,1.5,0.1,2.2,0.1c-0.2-0.7-0.4-1.4-0.6-2c-1-0.2-2-0.4-3.1-0.5
						C89.8,62.5,90.3,63.3,90.8,64.1z"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M46.7,61.2c-0.1,0.6-0.3,1.2-0.4,1.8c0.2,0.3,0.4,0.6,0.7,0.9c0.5,0,0.9,0,1.4-0.1
						c0.4-0.3,0.7-0.6,1.1-0.9c0.1,0.3,0.1,0.5,0.2,0.8c0.4,0,0.7,0,1.1,0c0.2-1,0.4-2,0.5-2.9c-0.5,0-1,0.1-1.5,0.1
						c-0.1,0.3-0.1,0.7-0.2,1c-0.3,0.2-0.7,0.5-1,0.7c-0.2,0-0.3,0-0.5,0c-0.1-0.1-0.2-0.2-0.2-0.3c0.1-0.4,0.2-0.8,0.3-1.2
						C47.7,61,47.2,61.1,46.7,61.2z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M87.3,63.9c0.5,0,1,0.1,1.5,0.1c-0.2-0.8-0.4-1.7-0.7-2.5c-0.5-0.1-1-0.1-1.5-0.2
						C86.8,62.2,87,63,87.3,63.9z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M74.2,63.4c1.6,0,3.3,0.1,4.9,0.1C79.1,63,79,62.5,78.9,62c-1.1,0-2.1-0.1-3.2-0.1
						c-0.1-0.5-0.1-1-0.2-1.5c-0.5,0-1.1-0.1-1.6-0.1C74,61.4,74.1,62.4,74.2,63.4z"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M67.1,60.2c-0.4,0-0.7,0-1.1,0c-0.1,0-0.2,0-0.4,0c0,1.1,0,2.1,0,3.2c0.5,0,1,0,1.5,0
						C67.2,62.3,67.2,61.2,67.1,60.2z"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M68.3,62.4c0.3,0.3,0.6,0.7,0.9,1c0.5,0,0.9,0,1.4,0c0.3-0.3,0.6-0.5,0.9-0.8c0.1,0.3,0.3,0.5,0.4,0.8
						c0.4,0,0.7,0,1.1,0c-0.1-1.1-0.2-2.1-0.3-3.2c-1.3,0-2.6-0.1-4-0.1c-0.2,0.2-0.3,0.4-0.5,0.6C68.2,61.3,68.2,61.9,68.3,62.4z
						 M70,60.9c0.4,0,0.9,0,1.3,0c0,0.2,0,0.4,0,0.7c-0.3,0.2-0.6,0.5-0.8,0.7c-0.1,0-0.3,0-0.4,0c-0.1-0.1-0.2-0.2-0.3-0.4
						c0-0.2,0-0.5,0-0.7C69.8,61.1,69.9,61,70,60.9z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M80,63.6c0.5,0,1.1,0,1.6,0.1c0-0.6,0.1-1.1,0.1-1.7c0.7,0,1.3,0.1,2,0.1c0.3,0.6,0.5,1.1,0.8,1.7
						c0.6,0,1.2,0.1,1.9,0.1c-0.5-0.9-0.9-1.8-1.4-2.8c-1.5-0.2-3.1-0.3-4.7-0.4C80.2,61.6,80.1,62.6,80,63.6z"/>
				</g>
			</g>
			<g>
				<path fill="#CFD1D2" d="M65,57.4c-0.3,0.3-0.6,0.6-0.9,0.8L64,58.7l0.2-0.2c0.3-0.3,0.5-0.5,0.8-0.8l1.2-0.2
					C65.8,57.4,65.4,57.4,65,57.4z"/>
			</g>
			<g>
				<path fill="#CFD1D2" d="M62.8,57.5c-0.1,2-0.2,3.9-0.2,5.9l0.2-0.2l0.2-5.4l0.6,0l0.2-0.2C63.4,57.5,63.1,57.5,62.8,57.5z"/>
			</g>
			<g>
				<path fill="#CFD1D2" d="M53.1,57.7c-0.3,2-0.6,3.9-1,5.9l0.3-0.3l0.9-5.4l0.7,0l0.2-0.2C53.8,57.7,53.4,57.7,53.1,57.7z"/>
			</g>
			<g>
				<g>
					<path fill="#CFD1D2" d="M58.2,57.8c-0.3,0.3-0.6,0.6-0.8,0.9L57,62.5l-0.2,0.1c0.1-1.3,0.3-2.7,0.4-4c0.3-0.3,0.6-0.7,1-1
						c0.9,0,1.7,0,2.6,0"/>
				</g>
			</g>
			<g>
				<path fill="#CFD1D2" d="M71.6,57.5c-0.9,0-1.8,0-2.6,0c-0.2,0.3-0.4,0.5-0.7,0.8l0.3,0c0.2-0.2,0.3-0.3,0.4-0.5"/>
			</g>
			<g>
				<path fill="#CFD1D2" d="M71.2,59.8c-0.7,0-1.4,0-2.2,0c-0.3,0.3-0.6,0.6-0.8,1c0,0.6,0,1.1,0,1.7l0.2-0.1l0-1.5
					c0.2-0.3,0.5-0.5,0.7-0.8"/>
			</g>
			<g>
				<path fill="#CFD1D2" d="M43.6,55.9c-1.4,2.8-2.9,5.5-4.5,8.3l0.4-0.3c1.5-2.6,2.9-5.2,4.2-7.8l1.6-0.3
					C44.8,55.9,44.2,55.9,43.6,55.9z"/>
			</g>
			<g>
				<g>
					<path fill="#FDD204" d="M80.6,55.5c-0.1,2.7-0.3,5.4-0.6,8.1l0.3-0.2c0.2-2.5,0.4-5.1,0.6-7.6l1.6-0.2
						C81.8,55.6,81.2,55.6,80.6,55.5z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M89.4,56.2l1-0.2C90,56,89.6,56,89.1,56c0.6,1.9,1.1,3.8,1.7,5.7L89.4,56.2z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M85.5,56l1.7-0.1c-0.7,0-1.4-0.1-2-0.1c0.7,2.7,1.3,5.4,2,8.2l0.2-0.2L85.5,56z"/>
				</g>
				<g>
					<path fill="#FDD204" d="M75,55.4c-0.5,0-1,0-1.5,0c0.3,2.7,0.5,5.4,0.8,8.1l0.2-0.2l-0.7-7.6L75,55.4z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#CFD1D2" d="M47.3,58.9c-0.3,1.3-0.6,2.7-0.9,4l0.3-0.1l0.9-3.9c0.3-0.3,0.6-0.6,1-0.9c0.4,0,0.8,0,1.2-0.1l0.1-0.2
						c-0.5,0-0.9,0-1.4,0.1C48,58.2,47.6,58.5,47.3,58.9z"/>
				</g>
				<g>
					<path fill="#CFD1D2" d="M50.9,55.6c-0.2,1-0.4,2-0.6,3l0.1,0.6l0.7-3.4l1.2-0.3C51.8,55.5,51.3,55.6,50.9,55.6z"/>
				</g>
			</g>
			<g>
				<path fill="#CFD1D2" d="M55.2,57.7c-0.3,0.3-0.6,0.5-0.9,0.8l-0.1,0.4l0.3-0.2c0.3-0.2,0.6-0.5,0.9-0.7l0.9-0.3
					C55.9,57.6,55.6,57.6,55.2,57.7z"/>
			</g>
			<g>
				<g>
					<path fill="#CC982B" d="M81.8,57.4c0.4,1.1,0.9,2.1,1.3,3.2c-0.5,0-1,0-1.5-0.1l-0.2,0.2l0.2,0c0.5,0,1,0,1.5,0.1l0.4,0
						L81.8,57.4z"/>
				</g>
				<g>
					<path fill="#CC982B" d="M81.5,61.7l0,0.2c0,0.5-0.1,1-0.1,1.4c-0.4,0-0.8,0-1.2,0L80,63.6c0.5,0,1.1,0,1.6,0.1
						c0-0.6,0.1-1.1,0.1-1.7L81.5,61.7z"/>
				</g>
				<g>
					<path fill="#CC982B" d="M84.5,63.8c0.6,0,1.2,0.1,1.9,0.1c-1.4-2.8-2.7-5.5-4-8.3l3.6,8c-0.4,0-0.9,0-1.3-0.1L84.5,63.8z"/>
				</g>
				<g>
					<path fill="#CC982B" d="M87.3,63.9c0.5,0,1,0.1,1.5,0.1c-0.5-1.9-1-3.8-1.5-5.7l1.2,5.4c-0.3,0-0.7,0-1-0.1L87.3,63.9z"/>
				</g>
				<g>
					<path fill="#CC982B" d="M90.8,64.1c0.7,0,1.5,0.1,2.2,0.1c-0.9-2.7-1.7-5.5-2.6-8.2l2.2,7.9c-0.6,0-1.2-0.1-1.8-0.1L90.8,64.1z
						"/>
				</g>
				<g>
					<path fill="#CC982B" d="M78.9,62l-0.2,0.2l0.2,1.1c-1.5,0-3-0.1-4.4-0.1l-0.2,0.2c1.6,0,3.3,0.1,4.9,0.1
						C79.1,63,79,62.5,78.9,62z"/>
				</g>
				<g>
					<path fill="#CC982B" d="M75,55.4l0.5,6.8l0.2-0.2C75.5,59.7,75.2,57.5,75,55.4z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#888A8C" d="M49.6,61.8c-0.3,0.2-0.7,0.5-1,0.7c-0.2,0-0.3,0-0.5,0l-0.1,0.2l0.6,0l0.1,0c0.3-0.2,0.7-0.5,1-0.7
						l0.1-0.1l0.2-2.2C49.9,60.4,49.8,61.1,49.6,61.8z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M49.3,62.7c-0.3,0.3-0.7,0.5-1,0.8c-0.4,0-0.8,0-1.2,0.1L47,63.9c0.5,0,0.9,0,1.4-0.1
						c0.4-0.3,0.7-0.6,1.1-0.9l0.1-0.4L49.3,62.7z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M55.9,58.9l-1,0L54,59.7l0.2,0.1c0.3-0.2,0.5-0.5,0.8-0.7c0.4,0,0.7,0,1.1,0c0.1-0.5,0.1-1,0.2-1.5
						L55.9,58.9z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M41.5,62.2l-0.1,0.1c-0.3,0.5-0.6,1.1-0.9,1.6c-0.4,0-0.7,0-1.1,0.1l-0.4,0.3c0.5,0,1.1-0.1,1.6-0.1
						c0.3-0.6,0.6-1.1,0.9-1.7L41.5,62.2z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M45.4,55.8l-0.1,7.8c-0.5,0-0.9,0-1.4,0.1L43.6,64c0.6,0,1.2-0.1,1.9-0.1
						C45.4,61.2,45.3,58.5,45.4,55.8z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M63.9,59.3l-0.1,3.9c-0.3,0-0.7,0-1,0l-0.2,0.2c0.5,0,1,0,1.5,0c0-1.3,0.1-2.7,0.1-4L63.9,59.3z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M67.1,58.4c-0.3-0.3-0.6-0.7-0.9-1l0.6,1.1l0.1,4.6l-1,0l-0.2,0.2c0.5,0,1,0,1.5,0
						C67.2,61.7,67.1,60.1,67.1,58.4z"/>
				</g>
				<g>
					<g>
						<path fill="#888A8C" d="M52.1,63.6c0.5,0,1,0,1.5,0c0.2-1.2,0.4-2.5,0.5-3.7L54,59.7l-0.5,3.6c-0.3,0-0.7,0-1,0"/>
					</g>
				</g>
				<g>
					<path fill="#888A8C" d="M60.5,61.7l0.6,0.8c-0.2,0.2-0.4,0.5-0.6,0.7c-0.9,0-1.9,0-2.8,0l-0.1,0.2c1,0,2,0,3-0.1
						c0.3-0.3,0.6-0.6,0.9-0.9C61.1,62.2,60.8,62,60.5,61.7z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M61.2,60.8c-0.9,0-1.9,0-2.8,0l-0.2,0l0.2,0.2c1,0,2,0,3,0c0-0.9,0.1-1.7,0.1-2.6L61.2,60.8z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M72.6,58.5l0.1,4.7l-0.7,0l-0.1,0.2c0.4,0,0.7,0,1.1,0C72.8,61.8,72.7,60.1,72.6,58.5z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M71.3,62.4c-0.3,0.3-0.5,0.5-0.8,0.8c-0.4,0-0.8,0-1.2,0l-0.1,0.2c0.5,0,0.9,0,1.4,0
						c0.3-0.3,0.6-0.5,0.9-0.8l0.1-0.4L71.3,62.4z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M44,57.7c-0.1,1.1-0.1,2.1-0.2,3.2c-0.5,0-1,0.1-1.5,0.1l-0.4,0.3l2.1-0.1L44,57.7z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M50.6,63.4l-0.7,0l-0.2,0.2c0.4,0,0.7,0,1.1,0c0.5-2.7,1-5.4,1.5-8.1L50.6,63.4z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M60.1,59c0,0.3-0.1,0.7-0.1,1c-0.5,0-1,0-1.5,0l-0.3,0.2c0,0,1.3,0,1.8,0l0.2,0L60.1,59z"/>
				</g>
				<g>
					<path fill="#888A8C" d="M71.3,60.9c0,0.2,0,0.4,0,0.7c-0.3,0.2-0.6,0.5-0.8,0.7c-0.1,0-0.3,0-0.4,0L70,62.6l0.6,0l0.1-0.1
						c0.3-0.2,0.6-0.5,0.8-0.7l0.1-0.1"/>
				</g>
			</g>
		</g>
	</g>
</g>
<g id="Toronto">
	<g>
		<g>
			<g>
				<path fill="#FFD300" d="M452.5,38.8v2.7h-10.1v-2.7H452.5z M446.1,53.3V42.1h2.8v11.3H446.1z"/>
				<path fill="#FFD300" d="M457.8,41.4c-0.4,0-0.7,0.2-0.7,0.7V50c0,0.4,0.2,0.7,0.7,0.7h1.4v2.8h-2c-1.6,0-2.7-1.2-2.7-2.9v-9
					c0-1.7,1.1-2.9,2.7-2.9h2v2.8H457.8z M461.7,38.7c1.6,0,2.7,1.2,2.7,2.9v9c0,1.7-1.1,2.9-2.7,2.9h-2v-2.8h1.3
					c0.4,0,0.7-0.2,0.7-0.7v-7.9c0-0.4-0.2-0.7-0.7-0.7h-1.3v-2.8H461.7z"/>
				<path fill="#FFD300" d="M469.6,38.8v14.6h-2.8V38.8H469.6z M474.1,53.3l-2.2-5.4h-1.7v-2.7h3c0.4,0,0.7-0.2,0.7-0.7v-2.3
					c0-0.4-0.2-0.7-0.7-0.7h-3v-2.8h3.7c1.6,0,2.7,1.2,2.7,2.9v3.4c0,1.4-0.7,2.4-1.9,2.8l2.3,5.5H474.1z"/>
				<path fill="#FFD300" d="M482.3,41.4c-0.4,0-0.7,0.2-0.7,0.7V50c0,0.4,0.2,0.7,0.7,0.7h1.4v2.8h-2c-1.6,0-2.7-1.2-2.7-2.9v-9
					c0-1.7,1.1-2.9,2.7-2.9h2v2.8H482.3z M486.2,38.7c1.6,0,2.7,1.2,2.7,2.9v9c0,1.7-1.1,2.9-2.7,2.9h-2v-2.8h1.3
					c0.4,0,0.7-0.2,0.7-0.7v-7.9c0-0.4-0.2-0.7-0.7-0.7h-1.3v-2.8H486.2z"/>
				<path fill="#FFD300" d="M493.9,53.3h-2.6V39.5l2.6,5.1V53.3z M491.6,38.8h2.8l7.5,14.6h-2.8L491.6,38.8z M499.4,47.6v-8.8h2.6
					v13.9L499.4,47.6z"/>
				<path fill="#FFD300" d="M514.1,38.8v2.7H504v-2.7H514.1z M507.7,53.3V42.1h2.8v11.3H507.7z"/>
				<path fill="#FFD300" d="M519.4,41.4c-0.4,0-0.7,0.2-0.7,0.7V50c0,0.4,0.2,0.7,0.7,0.7h1.4v2.8h-2c-1.6,0-2.7-1.2-2.7-2.9v-9
					c0-1.7,1.1-2.9,2.7-2.9h2v2.8H519.4z M523.3,38.7c1.6,0,2.7,1.2,2.7,2.9v9c0,1.7-1.1,2.9-2.7,2.9h-2v-2.8h1.3
					c0.4,0,0.7-0.2,0.7-0.7v-7.9c0-0.4-0.2-0.7-0.7-0.7h-1.3v-2.8H523.3z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path fill="#FFFFFF" d="M533.2,39.2c0.5-0.1,1-0.1,1.6-0.1c1.1,0,1.8,0.2,2.3,0.7c0.5,0.5,0.8,1.1,0.8,2.1c0,0.9-0.3,1.7-0.8,2.3
				c-0.5,0.5-1.4,0.8-2.6,0.8c-0.5,0-1,0-1.4-0.1V39.2z M533.9,44.4c0.2,0,0.5,0,0.8,0c1.6,0,2.5-0.9,2.5-2.5c0-1.4-0.8-2.2-2.3-2.2
				c-0.4,0-0.7,0-0.9,0.1V44.4z"/>
			<path fill="#FFFFFF" d="M542.6,42.2h-2.3v2.1h2.5V45h-3.3v-5.8h3.1v0.6h-2.4v1.8h2.3V42.2z"/>
			<path fill="#FFFFFF" d="M548.5,44.8c-0.3,0.1-0.8,0.3-1.5,0.3c-1.6,0-2.9-1-2.9-2.9c0-1.8,1.2-3,3-3c0.7,0,1.2,0.2,1.4,0.3
				l-0.2,0.6c-0.3-0.1-0.7-0.2-1.2-0.2c-1.4,0-2.3,0.9-2.3,2.4c0,1.4,0.8,2.3,2.2,2.3c0.5,0,0.9-0.1,1.2-0.2L548.5,44.8z"/>
			<path fill="#FFFFFF" d="M553.1,42.2h-2.3v2.1h2.5V45h-3.3v-5.8h3.1v0.6h-2.4v1.8h2.3V42.2z"/>
			<path fill="#FFFFFF" d="M559.8,42.4c0-0.8-0.1-1.8-0.1-2.5h0c-0.2,0.7-0.4,1.4-0.7,2.2l-1,2.8h-0.6l-0.9-2.8
				c-0.3-0.8-0.5-1.6-0.7-2.3h0c0,0.7-0.1,1.7-0.1,2.6l-0.2,2.5h-0.7l0.4-5.8h1l1,2.8c0.2,0.7,0.4,1.3,0.6,2h0
				c0.1-0.6,0.4-1.2,0.6-2l1-2.8h1l0.4,5.8H560L559.8,42.4z"/>
			<path fill="#FFFFFF" d="M562.6,39.2c0.3-0.1,0.8-0.1,1.4-0.1c0.7,0,1.2,0.1,1.6,0.4c0.3,0.2,0.5,0.6,0.5,1c0,0.6-0.4,1-1,1.3v0
				c0.5,0.1,1.2,0.6,1.2,1.5c0,0.5-0.2,0.9-0.5,1.2c-0.4,0.4-1.1,0.5-2,0.5c-0.5,0-0.9,0-1.2-0.1V39.2z M563.3,41.6h0.7
				c0.8,0,1.3-0.4,1.3-1c0-0.7-0.5-0.9-1.3-0.9c-0.3,0-0.5,0-0.7,0.1V41.6z M563.3,44.4c0.1,0,0.4,0,0.6,0c0.8,0,1.5-0.3,1.5-1.1
				c0-0.8-0.7-1.1-1.5-1.1h-0.6V44.4z"/>
			<path fill="#FFFFFF" d="M571,42.2h-2.3v2.1h2.5V45H568v-5.8h3.1v0.6h-2.4v1.8h2.3V42.2z"/>
			<path fill="#FFFFFF" d="M572.8,39.2c0.4-0.1,0.9-0.1,1.4-0.1c0.8,0,1.3,0.1,1.7,0.5c0.3,0.3,0.5,0.7,0.5,1.1
				c0,0.8-0.5,1.3-1.1,1.5v0c0.4,0.2,0.7,0.6,0.9,1.2c0.2,0.8,0.3,1.4,0.4,1.6h-0.8c-0.1-0.2-0.2-0.7-0.4-1.4
				c-0.2-0.8-0.5-1.1-1.2-1.1h-0.7V45h-0.7V39.2z M573.6,41.9h0.8c0.8,0,1.3-0.4,1.3-1.1c0-0.7-0.5-1.1-1.3-1.1
				c-0.4,0-0.6,0-0.7,0.1V41.9z"/>
			<path fill="#FFFFFF" d="M537.2,47.9v0.5l-2.4,5.1H534l2.4-4.9v0h-2.7v-0.6H537.2z"/>
			<path fill="#FFFFFF" d="M540.2,48.3h-1.8v-0.6h4.3v0.6h-1.8v5.2h-0.8V48.3z"/>
			<path fill="#FFFFFF" d="M544.8,47.6v2.4h2.8v-2.4h0.8v5.8h-0.8v-2.7h-2.8v2.7h-0.7v-5.8H544.8z"/>
			<path fill="#FFFFFF" d="M556.4,53.4c-0.2-0.2-0.3-0.3-0.5-0.6c-0.5,0.5-1.1,0.7-1.7,0.7c-1.1,0-1.8-0.8-1.8-1.6
				c0-0.8,0.5-1.3,1.1-1.7v0c-0.3-0.4-0.5-0.8-0.5-1.2c0-0.7,0.5-1.4,1.5-1.4c0.7,0,1.3,0.5,1.3,1.2c0,0.6-0.4,1.1-1.3,1.5v0
				c0.5,0.6,1,1.2,1.4,1.6c0.3-0.4,0.4-1,0.6-1.7h0.7c-0.2,0.9-0.4,1.6-0.8,2.1c0.3,0.3,0.6,0.7,1,1H556.4z M555.5,52.4
				c-0.3-0.4-1-1.1-1.6-1.8c-0.3,0.2-0.7,0.6-0.7,1.2c0,0.7,0.5,1.2,1.2,1.2C554.8,53,555.2,52.7,555.5,52.4z M553.8,48.9
				c0,0.4,0.2,0.7,0.4,1c0.6-0.3,1-0.6,1-1.1c0-0.4-0.2-0.7-0.7-0.7C554,48.1,553.8,48.5,553.8,48.9z"/>
			<path fill="#FFFFFF" d="M560.8,52c0-0.7,0.4-1.2,1.1-1.5l0,0c-0.6-0.3-0.9-0.8-0.9-1.3c0-0.9,0.7-1.5,1.7-1.5
				c1.1,0,1.6,0.7,1.6,1.4c0,0.5-0.2,1-0.9,1.3v0c0.7,0.3,1.1,0.8,1.1,1.4c0,1-0.8,1.6-1.9,1.6C561.5,53.5,560.8,52.8,560.8,52z
				 M563.8,52c0-0.7-0.5-1-1.2-1.2c-0.7,0.2-1,0.6-1,1.2c0,0.6,0.4,1.1,1.1,1.1C563.3,53,563.8,52.6,563.8,52z M561.7,49.2
				c0,0.6,0.4,0.9,1.1,1c0.5-0.2,0.9-0.5,0.9-1c0-0.4-0.3-0.9-0.9-0.9C562,48.3,561.7,48.7,561.7,49.2z"/>
			<path fill="#FFFFFF" d="M567.3,48.3h-1.8v-0.6h4.3v0.6h-1.8v5.2h-0.8V48.3z"/>
			<path fill="#FFFFFF" d="M572,47.6v2.4h2.8v-2.4h0.8v5.8h-0.8v-2.7H572v2.7h-0.7v-5.8H572z"/>
		</g>
	</g>
</g>
<g id="Register">
	<g>
		<path fill="#FFD300" d="M697.9,59h-97.5c-2.7,0-5-2.2-5-5V37.7c0-2.7,2.2-5,5-5h97.5c2.7,0,5,2.2,5,5V54
			C702.8,56.8,700.6,59,697.9,59z"/>
		<linearGradient id="SVGID_39_" gradientUnits="userSpaceOnUse" x1="606.4553" y1="50.9285" x2="606.4553" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_39_)" d="M607.9,50.9l-1.5-3.5h-1.5v3.5H603v-9.4h4.8c1.1,0,1.9,0.8,1.9,1.9v2.2c0,0.9-0.5,1.6-1.3,1.8
			l1.6,3.6H607.9z M607.8,43.7c0-0.3-0.2-0.4-0.4-0.4h-2.5v2.4h2.5c0.3,0,0.4-0.2,0.4-0.4V43.7z"/>
		<linearGradient id="SVGID_40_" gradientUnits="userSpaceOnUse" x1="614.58" y1="50.9285" x2="614.58" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_40_)" d="M617.7,41.5v1.8h-4.3v1.9h3.5V47h-3.5v2.1h4.3v1.8h-6.2v-9.4H617.7z"/>
		<linearGradient id="SVGID_41_" gradientUnits="userSpaceOnUse" x1="622.4168" y1="50.9818" x2="622.4168" y2="41.4463">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_41_)" d="M623.9,43.7c0-0.3-0.2-0.4-0.4-0.4h-2.2c-0.3,0-0.4,0.2-0.4,0.4v5.1c0,0.3,0.2,0.4,0.4,0.4h2.2
			c0.3,0,0.4-0.2,0.4-0.4v-1.4h-1.7v-1.7h3.6v3.5c0,1.1-0.8,1.9-1.9,1.9h-3.1c-1.1,0-1.9-0.8-1.9-1.9v-5.8c0-1.1,0.8-1.9,1.9-1.9
			h3.1c1.1,0,1.9,0.8,1.9,1.9v1.2h-1.9V43.7z"/>
		<linearGradient id="SVGID_42_" gradientUnits="userSpaceOnUse" x1="628.5815" y1="50.9285" x2="628.5815" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_42_)" d="M627.6,41.5h1.9v9.4h-1.9V41.5z"/>
		<linearGradient id="SVGID_43_" gradientUnits="userSpaceOnUse" x1="634.6599" y1="50.9818" x2="634.6599" y2="41.4463">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_43_)" d="M636,43.7c0-0.3-0.2-0.4-0.4-0.4h-1.9c-0.3,0-0.4,0.2-0.4,0.4v0.9c0,0.3,0.2,0.4,0.4,0.4l2.4,0.5
			c1,0.2,1.9,0.8,1.9,1.9v1.7c0,1.1-0.8,1.9-1.9,1.9h-2.9c-1.1,0-1.9-0.8-1.9-1.9v-1.2h1.8v0.8c0,0.3,0.2,0.4,0.4,0.4h2
			c0.3,0,0.4-0.2,0.4-0.4v-1c0-0.3-0.2-0.4-0.4-0.4l-2.4-0.5c-1-0.2-1.9-0.8-1.9-1.9v-1.6c0-1.1,0.8-1.9,1.9-1.9h2.8
			c1.1,0,1.9,0.8,1.9,1.9v1.1H636V43.7z"/>
		<linearGradient id="SVGID_44_" gradientUnits="userSpaceOnUse" x1="642.3516" y1="50.9285" x2="642.3516" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_44_)" d="M643.3,43.3v7.7h-1.9v-7.7h-2.5v-1.8h6.8v1.8H643.3z"/>
		<linearGradient id="SVGID_45_" gradientUnits="userSpaceOnUse" x1="650.2055" y1="50.9285" x2="650.2055" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_45_)" d="M653.3,41.5v1.8H649v1.9h3.5V47H649v2.1h4.3v1.8h-6.2v-9.4H653.3z"/>
		<linearGradient id="SVGID_46_" gradientUnits="userSpaceOnUse" x1="658.4348" y1="50.9285" x2="658.4348" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_46_)" d="M659.9,50.9l-1.5-3.5h-1.5v3.5H655v-9.4h4.8c1.1,0,1.9,0.8,1.9,1.9v2.2c0,0.9-0.5,1.6-1.3,1.8
			l1.6,3.6H659.9z M659.7,43.7c0-0.3-0.2-0.4-0.4-0.4h-2.5v2.4h2.5c0.3,0,0.4-0.2,0.4-0.4V43.7z"/>
		<linearGradient id="SVGID_47_" gradientUnits="userSpaceOnUse" x1="670.569" y1="50.9285" x2="670.569" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_47_)" d="M674.2,41.5v9.4h-2l-3.5-6.4v6.4h-1.8v-9.4h2l3.5,6.4v-6.4H674.2z"/>
		<linearGradient id="SVGID_48_" gradientUnits="userSpaceOnUse" x1="679.4946" y1="50.9818" x2="679.4946" y2="41.4463">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_48_)" d="M681.1,41.4c1.1,0,1.9,0.8,1.9,1.9v5.8c0,1.1-0.8,1.9-1.9,1.9h-3.2c-1.1,0-1.9-0.8-1.9-1.9v-5.8
			c0-1.1,0.8-1.9,1.9-1.9H681.1z M681,43.7c0-0.3-0.2-0.4-0.4-0.4h-2.2c-0.3,0-0.4,0.2-0.4,0.4v5.1c0,0.3,0.2,0.4,0.4,0.4h2.2
			c0.3,0,0.4-0.2,0.4-0.4V43.7z"/>
		<linearGradient id="SVGID_49_" gradientUnits="userSpaceOnUse" x1="689.5378" y1="50.9285" x2="689.5378" y2="41.4996">
			<stop  offset="0" style="stop-color:#0082C9"/>
			<stop  offset="1" style="stop-color:#013D7F"/>
		</linearGradient>
		<path fill="url(#SVGID_49_)" d="M691.1,50.9l-1.5-6.2l-1.5,6.2h-1.9l-2.3-9.4h2l1.3,6.9l1.7-6.9h1.5l1.7,6.9l1.3-6.9h1.9l-2.3,9.4
			H691.1z"/>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
</g>
</svg>
</div>